@using Sandbox.UI;
@using Sandbox.UI.Construct;

@namespace Facepunch.Gunfight.UI

<root>
    <label class="left @GetFriendClass( Attacker )">
        @Attacker?.Name
    </label>

    @if ( Weapon != null )
    {
        <WeaponViewer FlipYaw=@true Weapon:bind=@Weapon />
                
        if ( IsHeadshot )
        {
            <i>skull</i>
        }
    }
    else
    {
        <i>skull-crossbones</i>
    }

    <label class="right @GetFriendClass( Victim )">
        @Victim?.Name
    </label>
</root>

@code
{
    public IClient Attacker { get; set; }
    public IClient Victim { get; set; }
    public CreateAClass.Weapon Weapon { get; set; }
    public bool IsHeadshot { get; set; } = false;

    public RealTimeSince TimeSinceBorn = 0;

    public override void Tick() 
    {
        base.Tick();

        if ( TimeSinceBorn > 6 ) 
        { 
            Delete();
        }
    }

    public string GetFriendClass( IClient cl )
    {
        if (cl == Game.LocalClient) return "me";
        if (TeamSystem.GetFriendState(Game.LocalClient, cl) == TeamSystem.FriendlyStatus.Friendly) return "friendly";

        return "enemy";
    }
}
