@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

hudmarker {
    &.capturepoint {
        .icon {
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: rgba( white, 0.2 );
            border: 1px solid rgba( white, 0.5 );
        }

        label {
            top: 1px;
            color: white;
            font-weight: 900;
            text-shadow: 1px 1px 1px black;
        }

        &.enemy {
            .icon {
                background-color: rgba( $enemy, 0.2 );
                border: 1px solid rgba( $enemy, 0.5 );
            }
        }

        &.friendly {
            .icon {
                border-radius: 100px;
                background-color: rgba( $friendly, 0.2 );
                border: 1px solid rgba( $friendly, 0.5 );
            }
        }

        &.capturing {
            animation-name: flash;
            animation-duration: 0.5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        &.contested {
            animation-name: flash;
            animation-duration: 0.5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

            .icon {
                background-color: rgba( $main-color, 0.2 );
                border: 1px solid rgba( $main-color, 0.5 );
            }
        }
    }
}

capturepoints {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    .just-captured {
        top: 8px;
        transition: all 0.1s ease;

        &:intro {
            opacity: 0;
            transform: scale( 2 );
        }

        .name {
            left: -5px;
            top: 3px;
            font-size: 18px;
            font-family: Oxanium;
        }

        .icon {
            left: -14px;
            width: 30px;
            font-size: 24px;
            font-family: MaterialIcons;
        }

        color: white;
        font-weight: 600;
        text-shadow: 1px 1px 10px rgba( white, 1 );
        text-stroke-width: 5px;
        text-stroke-color: rgba( black, 0.05 );

        &.friendly {
            color: $friendly;
            text-shadow: 1px 1px 10px rgba( $friendly, 0.5 );
        }

        &.enemy {
            color: $enemy;
            text-shadow: 1px 1px 10px rgba( $enemy, 0.5 );
        }
    }

    > .entries {
        height: 50px;
        width: 500px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

capturepoint {
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    backdrop-filter-blur: 20px;

    label {
        color: white;
        font-weight: 900;
    }

    .bar-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba( white, 0.2 );
    }

    .identity {
        font-family: Oxanium;
        padding-top: 7px;
        padding-left: 4.5px;
        font-size: 23px;
        text-shadow: 1px 1px 1px rgba( black, 0.4 );
    }

    .icon {
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: rgba( white, 0.2 );
        border: 1px solid rgba( white, 0.5 );
        box-shadow: 1px 1px 50px rgba( darken( white, 80% ), 0.5 );
    }

    &.enemy {
        .icon {
            box-shadow: 1px 1px 50px rgba( darken( $enemy, 80% ), 0.5 );
            background-color: rgba( $enemy, 0.2 );
            border: 1px solid rgba( $enemy, 0.5 );
        }

        .bar-inner {
            background-color: rgba( darken( $enemy, 10% ), 0.2 );
        }
    }

    &.friendly {
        .icon {
            box-shadow: 1px 1px 50px rgba( darken( $friendly, 80% ), 0.5 );
            background-color: rgba( $friendly, 0.2 );
            border: 1px solid rgba( $friendly, 0.5 );
        }

        .bar-inner {
            background-color: rgba( darken( $friendly, 10% ), 0.2 );
        }
    }

    &.capturing {
        animation-name: flash;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    &.contested {
        animation-name: flash;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        .icon {
            background-color: rgba( $main-color, 0.2 );
            border: 1px solid rgba( $main-color, 0.5 );
        }
    }
}