@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

hudmarker {
    &.capturepoint {
        .icon {
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: rgba( white, 0.2 );
            border: 1px solid rgba( white, 0.5 );
        }

        label {
            top: 1px;
            color: white;
            font-weight: 900;
            text-shadow: 1px 1px 1px black;
        }

        &.enemy {
            .icon {
                transform: rotate(45deg);
                background-color: rgba( $enemy, 0.2 );
                border: 1px solid rgba( $enemy, 0.5 );
            }
        }

        &.friendly {
            .icon {
                border-radius: 100px;
                background-color: rgba( $friendly, 0.2 );
                border: 1px solid rgba( $friendly, 0.5 );
            }
        }

        &.capturing {
            animation-name: flash;
            animation-duration: 0.5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        &.contested {
            animation-name: flash;
            animation-duration: 0.5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

            .icon {
                transform: rotate(45deg);
                background-color: rgba( $main-color, 0.2 );
                border: 1px solid rgba( $main-color, 0.5 );
            }
        }
    }
}

capturepoints {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    .just-captured {
        transition: all 0.1s ease;
        &:intro {
            opacity: 0;
            transform: scale( 2 );
        }

        .name {
            top: 3px;
            font-size: 18px;
            font-family: Oxanium;
        }

        .icon {
            font-size: 24px;
            font-family: MaterialIcons;
        }

        color: $main-color;
        font-weight: 600;

        &.friendly {
            color: $friendly;
        }

        &.enemy {
            color: $enemy;
        }
    }

    > .entries {
        height: 50px;
        width: 500px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;

        capturepoint {
            margin-left: 10px;
            margin-right: 10px;
            width: 30px;
            height: 30px;

            label {
                color: white;
                font-weight: 900;
            }

            .bar-inner {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba( white, 0.2 );
            }

            .identity {
                font-family: Oxanium;
                padding-top: 3px;
                padding-left: 1px;
                font-size: 18px;
                text-shadow: 1px 1px 1px rgba( black, 0.4 );
            }

            .icon {
                position: absolute;
                width: 30px;
                height: 30px;
                background-color: rgba( white, 0.2 );
                border: 1px solid rgba( white, 0.5 );
            }

            &.enemy {
                .icon {
                    transform: rotate(45deg);
                    background-color: rgba( $enemy, 0.2 );
                    border: 1px solid rgba( $enemy, 0.5 );
                }

                .bar-inner {
                    background-color: rgba( darken( $enemy, 10% ), 0.2 );
                }
            }

            &.friendly {
                .icon {
                    background-color: rgba( $friendly, 0.2 );
                    border: 1px solid rgba( $friendly, 0.5 );
                }

                .bar-inner {
                    background-color: rgba( darken( $friendly, 10% ), 0.2 );
                }
            }

            &.capturing {
                animation-name: flash;
                animation-duration: 0.5s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }

            &.contested {
                animation-name: flash;
                animation-duration: 0.5s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;

                .icon {
                    transform: rotate(45deg);
                    background-color: rgba( $main-color, 0.2 );
                    border: 1px solid rgba( $main-color, 0.5 );
                }
            }
        }
    }
}