crosshair {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX( -50% ) translateY( -50% );
	mix-blend-mode: lighten;
	width: 1px;
	height: 1px;

	.element {
		position: absolute;
	}

	opacity: 0.4;
	transition: opacity 0.2s ease-out;

	.el0, .el1, .el2, .el3 {
		background-color: $main-color;
		border-radius: 0;
		transition: all 0.5s ease-out;
	}

	.el0, .el1 {
		width: 10px;
		top: -1px;
		height: 2px;
		border-radius: 2px;
	}

	.el2, .el3 {
		width: 2px;
		left: -1px;
		height: 10px;
		border-radius: 2px;
	}

	.el0 {
		right: 8px;
	}

	.el1 {
		left: 8px;
	}

	.el2 {
		bottom: 8px;
	}

	.el3 {
		top: 8px;
	}


	&.fire {
		transition: all 0.01s ease-out;

		.el0, .el1, .el2, .el3 {
			transition: all 0.01s ease-in;
		}

		.el0 {
			right: 40px;
			width: 10px;
		}

		.el1 {
			left: 40px;
			width: 10px;
		}

		.el2 {
			bottom: 40px;
			height: 10px;
		}

		.el3 {
			top: 40px;
			height: 10px;
		}
	}

	&.aiming {
		transition: opacity 0.1s ease;
		opacity: 0;
	}
}
