
inventorybar {
	position: absolute;
	font-family: Teko-SemiBold;
	transition: all 0.2s ease-out;
	opacity: 1;
	justify-content: center;
	align-items: flex-end;
	height: 50%;
	bottom: 103px;
	right: 0;

	.container {
		display: flex;
		flex-direction: column;
		min-width:96px;
		background-color: rgba(#3c3836 0.2);
		border-right: 2px solid rgba(#fbf1c7 0.5);
	}

	&.active {
		transition: all 0.1s ease-out;
		opacity: 1;
	}
}

inventoryicon {
	opacity: 1;
	height: 51px;
	border-bottom: 2px solid rgba(#fbf1c7 0.5);

	.icon {
		width: 64px;
		height: 64px;
		opacity: .1;
		background-image-tint: $theme-color;
		transform: scale( .75 );
		bottom: 10px;
		left: 5px;
	}

	.ammocount {
		bottom: 35px;
		position: absolute;
		font-size: 12px;
		font-weight: bolder;
		opacity: 0;
		color: $theme-color;
		font-family: Quantico-Regular;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}

	.hint {
		position: absolute;
		left: 76px;
		width: 30px;
		color: rgba( $theme-color, 0.8 );
		font-family: Quantico-Regular;
		font-size: 16px;
	}


	&.active {
		opacity: 0;
		display: none;
		transition: all 0.15s ease;
		transform: scale( 1 );

		.icon {
			opacity: 1;
			transform: scale( 1.1 );
		}
	}

	&.empty {
		opacity: .1;

		.icon {
			//background-image-tint: #f50;
		}
	}
}
