
//$theme-color: #fbf1c7;
//$theme-color: #CECECE;
$theme-color: #D7D9D7;
$friendly: #52afec;
$enemy: #F53F16;
$main-color: #FFCF26;

$main-font: Oxanium-Regular;
$main-font-semibold: Oxanium;
$main-font-bold: Oxanium-Bold;

$alternate-font: Oxanium-Regular;
$alternate-font-bold: Oxanium-Bold;

@import "_damageindicator.scss";
@import "_hitindicator.scss";
@import "_inventory.scss";
@import "_pickupfeed.scss";
@import "_capturepoints.scss";
@import "_spawnoverview.scss";
@import "_crosshair.scss";

HudRootPanel
{
    transition: background-color 0.2s ease-in;
    transform-origin: 50% 50%;

    &.devcamera
    {
        display: none;
    }
}

vitals {
    font-size: 64px;
    color: #ff0;
    font-family: Oswald-Light;

    label {
        &.danger {
            color: #f00;
            text-shadow: 0px 0px 10px #f005;
        }
    }
}

.bottom-middle {
    position: absolute;
    bottom: 96px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.top-middle {
    top: 32px;
    width: 100%;
    flex-direction: column;
    align-items: center;

    gamehud {
        font-family: Roboto;
        font-size: 20px;
        flex-direction: column;
        justify-content: center;

        .game-state {
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
        }

        .game-timer {
            font-size: 32px;
        }
    }
}

.bottom-left {
    left: 64px;
    flex-direction: column;
}

.bottom-right {
    right: 96px;
}

.bottom-left, .bottom-right {
    position: absolute;
    bottom: 80px;
}

.bottom-right {
    ammo {
        opacity: 0;
        &.active {
            opacity: 1;
        }
            
        flex-direction: row-reverse;
        font-family: Oswald-Light;
        width: 335px;
        height: 100%;
        align-items: flex-end;

        .icon {
            top: -15px;
            left: 0px;
            position: absolute;
            aspect-ratio: 2;
            width: 220px;
        }

        .gunname {
            position: absolute;
            bottom: 15px;
            left: 7px;
            font-family: $alternate-font;
            font-size: 18px;
            text-align: left;
            color: $theme-color;
            opacity: 0;
        }

        .ammobar {
            position: absolute;
            flex-direction: row-reverse;
            flex-shrink: 0;
            align-items: flex-start;
            top: 80%;
            opacity: 0;

            .bullet {
                width: 2px;
                flex-shrink: 0;
                flex-grow: 1;
                background-color: $theme-color;
                margin-left: 2px;
                transition: all 0.25s ease-out;
                min-height: 8px;

                &.empty {
                    background-color: $theme-color;
                    opacity: 0.0;
                    box-shadow: none;
                }
            }

            .anim {
                background-color: $theme-color;
                opacity: 0.04;
                box-shadow: none;
                animation-name: spentbullet;
                animation-duration: .2s;
                animation-timing-function: linear;
                animation-iteration-count: 1;
            }
        }

        label {
            min-width: 100px;
            text-align: right;

            &.danger {
                color: #f00;
            }
        }

        &.low {
            box-shadow: none;

            .currentammo {
                color: red;
                animation-name: lowammo;
                animation-duration: 1s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }

            .bullet {
                background-color: red;
            }
        }
    }
}

@keyframes spentbullet {
    0% {
        transform: scale( 1 );
    }

    100% {
        transform: scaleY( 0 );
    }
}

@keyframes lowammo {
    0% {
        transform: scale( 1 );
    }

    50% {
        transform: scale( 1.05 );
    }

    100% {
        transform: scale( 1 );
    }
}

.tactical {
}

Stance {
    min-width: 50px;

    > .icon {
        position: absolute;
        width: 50px;
        height: 50px;
        opacity: .5;
        background-image-tint: $theme-color;
    }
}

Ammo {
    border-right: 3px solid rgba( $main-color, 1 );
    padding-right: 30px;

    .info {
        bottom: 4px;
        flex-direction: column;
        font-weight: bolder;
        color: $theme-color;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 0px;

        .inventory {
            padding-right: 2px;
            width: 100%;
            font-family: Oxanium;
            font-weight: 400;
            font-size: 20px;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            color: rgba(255, 255, 255, 0.54);
        }

        .currentammo {
            width: 100%;
            font-family: $main-font-bold;
            font-size: 50px;
            color: white;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            height: 55px;
        }
    }
}

healthhud, armourhud {
    padding: 6px;
    font-size: 32px;
    min-width: 100px;
    text-align: center;
    align-items: center;
    font-family: Quantico-Regular;
    min-width: 105px;
}

.ammobar {
    padding: 6px;
    font-size: 24px;
    font-weight: bolder;
    color: $theme-color;
    min-width: 200px;
    text-align: center;
    align-items: center;
    border-radius: 0px;
    font-family: Quantico-Regular;
    font-weight: 900;

}

iconpanel
{
    font-family: "Material Icons";
}

healthhud, armourhud {
    margin-bottom: 6px;

    hudbar {
        width: 150px;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0;
    }

    .outerbar {
        position: absolute;
        border-radius: 0;
        left: -3px;
        top: -7px;
        right: 0;
        width: 150px;
        height: 6px;

        .innerBar {
            border-radius: 0;
        }
    }

    > .icon {
        color: $theme-color;
    }

    .text {
        min-width: 100px;
        left: 50px;
    }

    .health {
        background-color: rgba(#3c3836 0.2);
        color: $theme-color;
        border-left: 2px solid rgba(#fbf1c7 0.5);

        .innerBar {
            background-color: $theme-color;
        }
    }

    &.regen {
        .text {
            color: #00eee0;
        }

        .innerBar {
            background-color: rgba(#00eee0 1);
        }
    }

    &.low {
        .text {
            color: #ff9f9f;
        }

        .innerBar {
            background-color: rgba(255 0 0 1);
        }
    }

    .armour {
        background-color: rgba(#3c3836 0.2);
        color: $theme-color;
        border-right: 2px solid rgba(#fbf1c7 0.5);

        .innerBar {
            background-color: rgba(#458588 1);
        }
    }
}

armourhud
{
    &.empty
    {
        opacity: 0;
    }
}

.game-end
{
    inventorybar, .bottom-right, .bottom-left
    {
        display: none;
    }
}

HudRootPanel {
    GunfightGamemodePanel, KillConfirmedHud, .main-game-hud { transition: opacity 0.2s ease; }

    &.disable-hud {
        GunfightGamemodePanel, KillConfirmedHud, .main-game-hud {
            opacity: 0;    
        }
    }

    &.almost-disable-hud {
        GunfightGamemodePanel, KillConfirmedHud, .main-game-hud {
            transition: opacity 0.2s ease;
            opacity: 0.2;    
        }
    }
}
