
//$theme-color: #fbf1c7;
//$theme-color: #CECECE;
$theme-color: #D7D9D7;
$friendly: cyan;
$enemy: red;

$main-font: Quantico-Regular;
$main-font-bold: Quantico-Bold;

$alternate-font: Oswald-Regular;
$alternate-font-bold: Oswald-Bold;

@import "_damageindicator.scss";
@import "_hitindicator.scss";
@import "_inventory.scss";
@import "_killfeed.scss";
@import "_pickupfeed.scss";

HudRootPanel
{
    transition: background-color 0.2s ease-in;
    transform-origin: 50% 50%;

    &.devcamera
    {
        display: none;
    }
}

vitals {
    font-size: 64px;
    color: #ff0;
    font-family: Oswald-Light;

    label {
        &.danger {
            color: #f00;
            text-shadow: 0px 0px 10px #f005;
        }
    }
}

.bottom-middle {
    position: absolute;
    bottom: 96px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.top-middle {
    top: 32px;
    width: 100%;
    flex-direction: column;
    align-items: center;

    gamehud {
        font-family: Roboto;
        font-size: 20px;
        flex-direction: column;
        justify-content: center;

        .game-state {
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
        }

        .game-timer {
            font-size: 32px;
        }
    }
}

.bottom-left {
    left: 64px;
    flex-direction: column;
}

.bottom-right {
    right: 96px;
}

.bottom-left, .bottom-right {
    position: absolute;
    bottom: 64px;
}

.bottom-right {
    ammo {
        opacity: 0;
        &.active {
            opacity: 1;
        }
            
        flex-direction: row-reverse;
        font-family: Oswald-Light;
        width: 335px;
        height: 100%;
        align-items: flex-end;

        .icon {
            top: -15px;
            left: 0px;
            position: absolute;
            aspect-ratio: 2;
            width: 220px;
        }

        .gunname {
            position: absolute;
            bottom: 15px;
            left: 7px;
            font-family: $alternate-font;
            font-size: 18px;
            text-align: left;
            color: $theme-color;
            opacity: 0;
        }

        .ammobar {
            position: absolute;
            flex-direction: row-reverse;
            flex-shrink: 0;
            align-items: flex-start;
            top: 80%;
            opacity: 0;

            .bullet {
                width: 2px;
                flex-shrink: 0;
                flex-grow: 1;
                background-color: $theme-color;
                margin-left: 2px;
                transition: all 0.25s ease-out;
                min-height: 8px;

                &.empty {
                    background-color: $theme-color;
                    opacity: 0.0;
                    box-shadow: none;
                }
            }

            .anim {
                background-color: $theme-color;
                opacity: 0.04;
                box-shadow: none;
                animation-name: spentbullet;
                animation-duration: .2s;
                animation-timing-function: linear;
                animation-iteration-count: 1;
            }
        }

        label {
            min-width: 100px;
            text-align: right;

            &.danger {
                color: #f00;
            }
        }

        &.low {
            box-shadow: none;

            .currentammo {
                color: red;
                animation-name: lowammo;
                animation-duration: 1s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }

            .bullet {
                background-color: red;
            }
        }
    }
}

@keyframes spentbullet {
    0% {
        transform: scale( 1 );
    }

    100% {
        transform: scaleY( 0 );
    }
}

@keyframes lowammo {
    0% {
        transform: scale( 1 );
    }

    50% {
        transform: scale( 1.05 );
    }

    100% {
        transform: scale( 1 );
    }
}

.tactical {
}

Grenades {
    transition: all 0.2s ease-out;
    opacity: 1;
    width: 60px;
    height: 60px;
    margin-left: 16px;
    top: 15px;

    > .icon {
        position: absolute;
        height: 100%;
        aspect-ratio: 1;
        opacity: 0.5;
        background-image-tint: $theme-color;
    }

    .inventory {
        position: absolute;
        height: 85%;
        right: 0px;
        bottom: 0px;
        font-family: $alternate-font-bold;
        font-size: 24px;
        color: $theme-color;
        opacity: .5;
    }
}

Stance {
    min-width: 50px;

    > .icon {
        position: absolute;
        width: 50px;
        height: 50px;
        opacity: .5;
        background-image-tint: $theme-color;
    }
}
Location {
    .local {
        bottom: 16px;
        font-family: $alternate-font;
        font-size: 28px;
        color: $theme-color;
        background-image-tint: $theme-color;
    }
}

Ammo {
    border-right: 2px solid rgba( $theme-color, 0.5 );
    padding-right: 30px;

    .info {
        bottom: 4px;
        flex-direction: column;
        font-weight: bolder;
        color: $theme-color;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 0px;

        .inventory {
            padding-right: 2px;
            width: 100%;
            font-size: 20px;
            color: grey;
        }

        .currentammo {
            width: 100%;
            font-family: $main-font-bold;
            font-size: 50px;
            color: $theme-color;
            height: 55px;
        }
    }
}

healthhud, armourhud {
    padding: 6px;
    font-size: 32px;
    min-width: 100px;
    text-align: center;
    align-items: center;
    font-family: Quantico-Regular;
    min-width: 105px;
}
.ammobar {
    padding: 6px;
    font-size: 24px;
    font-weight: bolder;
    color: $theme-color;
    min-width: 200px;
    text-align: center;
    align-items: center;
    border-radius: 0px;
    font-family: Quantico-Regular;
    font-weight: 900;

}

iconpanel
{
    font-family: "Material Icons";
}

healthhud, armourhud {
    margin-bottom: 6px;

    hudbar {
        width: 150px;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0;
    }

    .outerbar {
        position: absolute;
        border-radius: 0;
        left: -3px;
        top: -7px;
        right: 0;
        width: 150px;
        height: 6px;

        .innerBar {
            border-radius: 0;
        }
    }

    > .icon {
        color: $theme-color;
    }

    .text {
        min-width: 100px;
        left: 50px;
    }

    .health {
        background-color: rgba(#3c3836 0.2);
        color: $theme-color;
        border-left: 2px solid rgba(#fbf1c7 0.5);

        .innerBar {
            background-color: $theme-color;
        }
    }

    &.regen {
        .text {
            color: #00eee0;
        }

        .innerBar {
            background-color: rgba(#00eee0 1);
        }
    }

    &.low {
        .text {
            color: #ff9f9f;
        }

        .innerBar {
            background-color: rgba(255 0 0 1);
        }
    }

    .armour {
        background-color: rgba(#3c3836 0.2);
        color: $theme-color;
        border-right: 2px solid rgba(#fbf1c7 0.5);

        .innerBar {
            background-color: rgba(#458588 1);
        }
    }
}

armourhud
{
    &.empty
    {
        opacity: 0;
    }
}

.game-end
{
    inventorybar, .bottom-right, .bottom-left
    {
        display: none;
    }
}


scoreboard {
    align-items: flex-start;
    background-color: rgba(#000,0.8);
    font-family: $main-font-bold;
    flex-direction: row;
    justify-content: center;
    backdrop-filter-blur: 8px;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    transition: opacity 0.2s ease;

    &.open {
        opacity: 1;
    }

    scoreboardteam {
        top: 10%;

        &:first-child {
            //transform: rotateY(10deg) rotateX(10deg);
        }

        &:last-child {
            //transform: rotateY(10deg) rotateX(-10deg);
        }

        box-shadow: 0 10px 50px rgba(#000,0.4);
        flex-direction: column;
        margin-bottom: 30px;
        min-width: 40%;
        margin-top: 30px;

        .header {
            align-items: center;
            color: #fff;
            background-size: 100%;
            background-repeat: no-repeat;
            font-weight: 900;
            font-size: 30px;
            height: 44px;
            padding-left: 80px;
            left: 30px;
            margin-bottom: 8px;

            &.US {
                .teamIcon {
                  //  background-image: url( /ui/scoreboard/flags/US.jpg );
                }
            }

            &.RU {

                .teamIcon {
                   // background-image: url( /ui/scoreboard/flags/RU.png );
                }
            }

            .teamTickets {
                top: 2px;
                align-self: center;
                left: 10px;
                z-index: 0;
                color: lightgrey;
                font-size: 20px;
            }

            .teamIcon {
                background-size: 100%;
                width: 70px;
                height: 45px;
                position: absolute;
                left: 0px;
                top: 0px;
            }
        }

        .names {
            align-items: center;
            background-size: 100%;
            background-image: linear-gradient(to right, rgba( black, 0 ), black 10%, black 90%, rgba( black, 0 ) 100% );
            color: #6C6C6C;
            height: 44px;
            padding-right: 40px;
            padding-left: 16px;
            font-weight: 500;
            font-family: $main-font-bold;
            font-size: 16px;
        }

        .canvas {
            flex-direction: column;
            min-width: 30%;
            mix-blend-mode: lighten;

            ScoreboardRow {
                align-items: center;
                background-size: 100%;
                margin-bottom: 2px;
                height: 40px;
                padding-left: 16px;
                padding-right: 40px;
                color: #fff;

                label {
                    font-weight: 500;
                    font-family: $main-font;
                    color: #CDCDCD;
                    font-size: 20px;
                }

                &.me {
                    box-shadow: 0px 0px 20px rgba( $friendly, 0.1 );
                }
            }
        }
    }

    .name {
        flex-grow: 1;
    }

    .deaths, .kills, .score, .fps, .captures {
        width: 90px;
        text-align: center;
    }
}
