
$theme-color: #fbf1c7;
//$theme-color: #CECECE;

@import "_damageindicator.scss";
@import "_hitindicator.scss";
@import "_inventory.scss";
@import "_chatbox.scss";
@import "_killfeed.scss";
@import "_pickupfeed.scss";
@import "_scoreboard.scss";

HudRootPanel
{
    background-color: rgba( #333, 0 );
    transition: background-color 0.2s ease-in;
    transform-origin: 50% 50%;

    &.devcamera
    {
        display: none;
    }
}

vitals {
    font-size: 64px;
    color: #ff0;
    font-family: Oswald-Light;

    label {

        &.danger {
            color: #f00;
            text-shadow: 0px 0px 10px #f005;
        }
    }
}


.dm_pistol .icon
{
    background-image: url( /ui/weapons/dm_pistol.png );
}

.dm_shotgun .icon
{
    background-image: url( /ui/weapons/dm_shotgun.png );
}

.dm_smg .icon
{
    background-image: url( /ui/weapons/dm_smg.png );
}

.dm_crossbow .icon, .crossbow_bolt .icon
{
    background-image: url( /ui/weapons/dm_crossbow.png );
}

.dm_357 .icon
{
    background-image: url( /ui/weapons/dm_357.png );
}

.dm_crowbar .icon
{
    background-image: url( /ui/weapons/dm_crowbar.png );
}

.dm_grenade .icon, .dm_handgrenade .icon
{
    background-image: url( /ui/weapons/dm_grenade.png );
}

.dm_tripmine .icon, .dm_tripmine_planted .icon
{
    background-image: url( /ui/weapons/dm_tripmine.png );
}

.bottom-left {
    left: 150px;
    flex-direction: column;
    transform: skew(0deg, -2deg);
}

.bottom-right {
    right: 150px;
    transform: skew(0deg, 2deg);
}

.bottom-left, .bottom-right
{	mix-blend-mode: lighten;
    position: absolute;
    bottom: 50px;
}

.bottom-right {
    ammo {
        flex-direction: row-reverse;
        font-family: Oswald-Light;
        width: 100%;
        height: 100%;
        border-right: 2px solid rgba(#fbf1c7 0.5);
        align-items: flex-end;
        background-color: rgba(#3c3836 0.2);
        min-width: 150px;

        .icon {
            position: absolute;
            top: -40px;
            right: 25px;
            width: 150px;
            height: 150px;
            z-index: -1;
            opacity: .05;
            background-image-tint: $theme-color;
        }

        .gunname {
            position: absolute;
            bottom: 16px;
            left: 7px;
            font-family: Quantico-Regular;
            font-size: 16px;
            font-weight: bolder;
            text-align: left;
            color: $theme-color;
        }

        .ammobar {
            position: absolute;
            flex-direction: row-reverse;
            flex-shrink: 0;
            align-items: flex-start;
            top: 80%;

            .bullet {
                width: 2px;
                flex-shrink: 0;
                flex-grow: 1;
                background-color: $theme-color;
                margin-left: 2px;
                transition: all 0.25s ease-out;
                min-height: 8px;


                &.empty {
                    background-color: $theme-color;
                    opacity: 0.0;
                    box-shadow: none;
                }
            }

            .anim {
                background-color: $theme-color;
                opacity: 0.04;
                box-shadow: none;
                animation-name: spentbullet;
                animation-duration: .5s;
                animation-timing-function: linear;
                animation-iteration-count: 1;
            }
        }

        label {
            min-width: 100px;
            text-align: right;

            &.danger {
                color: #f00;
            }
        }

        .currentammo {
            bottom: 10px;
            font-family: Quantico-Bold;
            font-size: 64px;
            font-weight: bolder;
            color: $theme-color;
        }

        &.low {
            box-shadow: none;

            .currentammo {
                color: red;
                animation-name: lowammo;
                animation-duration: 1s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }

            .bullet {
                background-color: red;
            }
        }
    }
}

@keyframes spentbullet {
    0% {
        transform: scale( 1 );
    }

    50% {
        transform: scale( 2 );
        transform: rotate( -360deg ) translateY( 150 ) translateX( -10 );
    }

    100% {
        transform: scale( 1 );
    }
}

@keyframes lowammo {
    0% {
        transform: scale( 1 );
    }

    50% {
        transform: scale( 1.05 );
    }

    100% {
        transform: scale( 1 );
    }
}
Grenades {
    position: absolute;
    font-family: Teko-SemiBold;
    transition: all 0.2s ease-out;
    opacity: 1;
    justify-content: left;
    height: 50%;
    bottom: 103px;
    border-right: 2px solid rgba(#fbf1c7 0.25);
    align-items: flex-start;
    background-color: rgba(#3c3836 0.2);
    min-width: 50px;
    border-bottom: 2px solid rgba(#fbf1c7 0.25);

    .icon {
        position: absolute;
        right: 0px;
        top: 5px;
        width: 50px;
        height: 50px;
        z-index: -1;
        opacity: .1;
        background-image-tint: $theme-color;
    }

    .inventory {
        left: 0px;
        bottom: 8px;
        font-family: Quantico-Bold;
        font-size: 16px;
        font-weight: bolder;
        color: $theme-color;
        opacity: .5;
    }
}

Stance {
    position: absolute;
    bottom: 50px;
    left: -50px;
    min-width: 50px;
    transition: all 0.2s ease-in-out;

    .icon {
        position: absolute;
        width: 50px;
        height: 50px;
        opacity: .1;
        background-image-tint: $theme-color;
        border-right: 2px solid rgba(#fbf1c7 1);
        background-color: rgba(#3c3836 1);
    }
}

healthhud, armourhud {
    padding: 6px;
    font-size: 32px;
    min-width: 100px;
    text-align: center;
    align-items: center;
    font-family: Quantico-Regular;
    min-width: 105px;
}
.ammobar,.currentammo {
    padding: 6px;
    font-size: 24px;
    font-weight: bolder;
    color: $theme-color;
    min-width: 200px;
    text-align: center;
    align-items: center;
    border-radius: 0px;
    font-family: Quantico-Regular;
    font-weight: 900;

}
.inventory {
    padding: 6px;
    font-size: 24px;
    left: 10px;
    bottom:25px;
    font-weight: bolder;
    color: $theme-color;
    text-align: center;
    align-items: center;
    border-radius: 0px;
    font-family: Quantico-Regular;
    font-weight: 900;
}
iconpanel
{
    font-family: "Material Icons";
}

healthhud, armourhud {
    margin-bottom: 6px;

    hudbar {
        width: 150px;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0;
    }

    .outerbar {
        background-color: rgba( $theme-color .2);
        position: absolute;
        border-radius: 0;
        left: 0;
        top: -6px;
        right: 0;
        width: 150px;
        height: 6px;

        .innerBar {
            border-radius: 0;
        }
    }

    .icon {
        color: $theme-color;
    }

    .text {
        min-width: 100px;
        left: 50px;
    }

    .health {
        background-color: rgba(#3c3836 0.2);
        color: $theme-color;
        border-right: 2px solid rgba(#fbf1c7 0.5);

        .innerBar {
            background-color: $theme-color;
        }
    }

    &.regen {
        .text {
            color: #00eee0;
        }

        .innerBar {
            background-color: rgba(#00eee0 1);
        }
    }

    &.low {
        .text {
            color: #ff9f9f;
        }

        .innerBar {
            background-color: rgba(255 0 0 1);
        }
    }

    .armour {
        background-color: rgba(#3c3836 0.2);
        color: $theme-color;
        border-right: 2px solid rgba(#fbf1c7 0.5);

        .innerBar {
            background-color: rgba(#458588 1);
        }
    }
}

armourhud
{
    &.empty
    {
        opacity: 0.1;
    }
}

.game-end
{
    chatbox, .top-middle
    {
        z-index: 1000;
    }

    inventorybar, .bottom-right, .bottom-left
    {
        display: none;
    }
}
