FriendsList
{
  flex-grow: 1;
  flex-direction: column;
  overflow: scroll;
  
  .entry
  {
    width: 68px;
    height: 64px;
    flex-shrink: 0;
    opacity: 0.3;
    cursor: pointer;
    
    &:not( .online )
    {
      img
      {
        mask-mode: luminance;
        background-color: rgba( 0, 0, 50, 1 );
        mask-image: url( https://files.facepunch.com/tony/1b2611b1/dots_repeat.png );
      }

      .online-status
      {
        opacity: 0;
      }
    }

    &.online
    {
      opacity: 0.8;

      .online-status
      {
        background-color: rgba( 0, 125, 255 );
      }
    }

    &.playing
    {
      opacity: 0.8;
      
      .online-status
      {
        background-color: green;
      }
    }

    .online-status
    {
      flex-shrink: 0;
      width: 3px;
    }
  }
}