@using Sandbox.UI;
@using Sandbox;

@namespace Facepunch.Gunfight.UI
@inherits Panel

<root>
    <div class="name">@GameName</div>
    <div class="desc">@GameDescription</div>
</root>

@code
{
    public string GameName => DisplayInfo.For( GamemodeSystem.Current ).Name;
    public string GameDescription => DisplayInfo.For( GamemodeSystem.Current ).Description;
}
