@using Sandbox.UI;
@namespace Facepunch.Gunfight.UI
@inherits RootPanel;
@attribute [StyleSheet( "/Styles/hud.scss" )]

<root>
    <div class="main-game-hud">
        <div class="bottom-left">
            <!--<ArmourHud></ArmourHud>
            <HealthHud></HealthHud>-->
        </div>

        <div class="bottom-right">
            <FireModes></FireModes>
            <Ammo></Ammo>
            <div class="tactical">
                <!-- grenades -->
            </div>
        </div>

        <div class="top-middle">
        </div>
        <div class="bottom-middle">
            <Stance></Stance>
        </div>

        <NotificationManager />
        <ExperienceHints />
        <DamageIndicator />
        <HitIndicator />
        <GunVoiceList />
        <GunVoiceSpeaker />
        <HudHints />
        <HudMarkers />
        <KillFeed />
        <Crosshair />
        <ExperienceBar />
    </div>

    <LoadoutSelector />
    <GunfightScoreboard />
    <GunfightChatbox />
    <NotificationOverlay />
    <ModalOverlay />
</root>

@code
{
    public static HudRootPanel Current;

    public HudRootPanel()
    {
        Current = this;
    }

    public override void Tick()
    {
        GunfightHud.HudState = HudVisibilityState.Visible; 
        Event.Run( "gunfight.hudrender" );

        SetClass( "disable-hud", GunfightHud.HudState == HudVisibilityState.Invisible );
        SetClass( "almost-disable-hud", GunfightHud.HudState == HudVisibilityState.AlmostVisible );
    }

    protected override void UpdateScale( Rect screenSize )
    {
        base.UpdateScale( screenSize );
        Scale *= UIGlobals.GameScale;

        if ( Game.IsRunningOnHandheld )
        {
            Scale += 0.4f;
        }
    }
}
