@using Sandbox.UI;
@namespace Facepunch.Gunfight.UI
@inherits RootPanel;
@attribute [StyleSheet( "/Styles/hud.scss" )]

<root>
    <div class="main-game-hud">
        <div class="bottom-left">
            <!--<ArmourHud></ArmourHud>
            <HealthHud></HealthHud>-->
        </div>

        <div class="bottom-right">
            @if ( Player.IsValid() )
            {
                <Ammo Weapon=@WeaponOne />
                <Ammo class="inactive" Weapon=@WeaponTwo />
            }
        </div>

        <div class="top-middle">
        </div>
        <div class="bottom-middle">
            <Stance></Stance>
        </div>

        <NotificationManager />
        <ExperienceHints />
        <DamageIndicator />
        <HitIndicator />
        <GunVoiceList />
        <GunVoiceSpeaker />
        <HudHints />
        <HudMarkers />
        <KillFeed />
        <Crosshair />
        <ExperienceBar />
    </div>

    <GunfightScoreboard />
    <GunfightChatbox />
    <NotificationOverlay />
    <ModalOverlay />
</root>

@code
{
    public GunfightPlayer Player => Game.LocalPawn as GunfightPlayer;
    public GunfightWeapon WeaponOne => Player?.ActiveChild as GunfightWeapon;
    public GunfightWeapon WeaponTwo => ( Player?.ActiveChild as GunfightWeapon ) == Player.Inventory.PrimaryWeapon ? Player.Inventory.SecondaryWeapon : Player.Inventory.PrimaryWeapon;
    public static HudRootPanel Current;

    public HudRootPanel()
    {
        Current = this;
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( WeaponOne );
    }

    public override void Tick()
    {
        GunfightHud.HudState = HudVisibilityState.Visible; 
        Event.Run( "gunfight.hudrender" );

        SetClass( "disable-hud", GunfightHud.HudState == HudVisibilityState.Invisible );
        SetClass( "almost-disable-hud", GunfightHud.HudState == HudVisibilityState.AlmostVisible );
    }

    protected override void UpdateScale( Rect screenSize )
    {
        base.UpdateScale( screenSize );
        Scale *= UIGlobals.GameScale;

        if ( Game.IsRunningOnHandheld )
        {
            Scale += 0.25f;
        }
    }
}
