@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;

@namespace Facepunch.Gunfight.UI
@inherits Panel
@attribute [StyleSheet]

<root>
   <div class="dock bottom-middle" @ref=BottomMiddleDock></div>
   <div class="dock middle" @ref=MiddleDock></div>
   <div class="dock top-middle" @ref=TopMiddleDock></div>
</root>
 
@code
{
    // @ref
    public Panel BottomMiddleDock;
    public Panel MiddleDock;
    public Panel TopMiddleDock;
	//

    public static NotificationManager Current;

    protected Panel GetDock( NotificationDockType dock )
    {
        return dock switch {
            NotificationDockType.BottomMiddle => BottomMiddleDock,
            NotificationDockType.Middle => MiddleDock,
            _ => TopMiddleDock
        };
    }

    protected override void OnAfterTreeRender( bool firstTime )
    {
        Current = this;
    }

    protected async Task Decay( Panel notification, int seconds = 5 )
    {
        await GameTask.DelaySeconds( seconds );
        notification.Delete();
    }

    public new void Add( NotificationDockType dock, string text, int seconds = 5 )
    {
        var parent = GetDock( dock );
        var notification = parent.AddChild<Panel>( "notification" );
        notification.Add.Label( text );

        _ = Decay( notification, seconds );
    }
}
