@using Sandbox;
@using Sandbox.UI;

@inherits Panel;
@namespace Facepunch.Gunfight.UI

<style>
    WinningTeamDisplay {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        align-content: center;
        transition: all 0.2s ease;
        backdrop-filter: blur(50px);
        z-index: 98;

        &:intro {
            opacity: 0;
        }

        > .canvas {
            flex-direction: column;
            margin-bottom: 100px;
            background-image: linear-gradient(20deg, rgba(30, 35, 40, 1) 0%, rgba(10, 10, 10, 1) 100%);
            
            > .header {
                text-align: center;
                justify-content: center;
                align-items: center;
                align-content: center;

                flex-direction: column;
                
                padding: 15px;
                padding-left: 200px;
                padding-right: 200px;

                .title {
                    top: 2px;
                    text-transform: uppercase;
                    font-family: Oxanium;
                    font-weight: 600;
                    font-size: 50px;
                    color: #FFCF26;
                }
                
                .subtitle {
                    top: 2px;
                    text-transform: uppercase;
                    font-family: Oxanium;
                    font-weight: 600;
                    font-size: 20px;
                    color: rgba( white, 0.5 );
                }
            }

            > .main {
                padding: 20px;
                padding-bottom: 40px;
                padding-top: 40px;

                justify-content: center;
                align-items: center;
                align-content: stretch;

                border-top: 3px solid #FFCF26;

                > .team {
                    top: 2px;
                    text-transform: uppercase;
                    font-family: Oxanium;
                    font-weight: 600;
                    font-size: 24px;
                }
            
                > .text {
                    top: 2px;
                    text-transform: uppercase;
                    font-family: Oxanium;
                    font-weight: 600;
                    font-size: 22px;
                    color: white;
                }
            }
        }

        &.friend {
            background-image: linear-gradient( to top, rgba(#52afec, 0) 0%, rgba(#52afec, 0) 30%, rgba(#52afec, 0.15) 100%);
            
            .main {
                background-image: linear-gradient(0deg, rgba(#52afec, 0.1) 0%, rgba(#52afec, 0.05) 100%);
            }

            .team {
                color: rgba( #52afec, 0.8 );
            }

            > .canvas { 
                > .header {
                }
            }
        }

        &.enemy {
            background-image: linear-gradient( to top, rgba(#F53F16, 0) 0%, rgba(#F53F16, 0) 30%, rgba(#F53F16, 0.15) 100%);

            .main {
                background-image: linear-gradient(0deg, rgba(245, 63, 22, 0.1) 0%, rgba(245, 63, 22, 0.05) 100%);
            }
            
            .team {
                color: rgba( #F53F16, 0.8 );
            }

            > .canvas { 
                > .header {
                }
            }
        }

        &.neutral {
            background-image: linear-gradient( to top, rgba(#A8A8A8, 0) 0%, rgba(#A8A8A8, 0) 30%, rgba(#A8A8A8, 0.15) 100%);

            .main {
                background-image: linear-gradient(0deg, rgba(white, 0.1) 0%, rgba(white, 0.05) 100%);
            }

            > .canvas { 
                > .header {
                }
            }
        }
    }
</style>

<root class="@TeamClasses()">
    <div class="canvas">
        @if ( Team == Team.Unassigned )
        {
            <div class="header">
                <label class="title">DRAW</label>
                <label class="subtitle">YOU COULDN'T EVEN WIN?</label>
            </div>

            <div class="main">
                <label class="text">NOBODY WINS</label>
            </div>
    
            return;
        }

        <div class="header">
            @if ( Winner )
            {
                <label class="title">VICTORY</label>
                <label class="subtitle">WINNER WINNER, CHICKEN DINNER</label>
            }
            else
            {
                <label class="title">DEFEAT</label>
                <label class="subtitle">BETTER LUCK NEXT TIME</label>
            }
        </div>

        <div class="main">
            <label class="team">@Team.GetName()</label> <label class="text">WINS.</label>
        </div>
    </div>
</root>

@code
{
    public static bool Visible;

    public Team Team = Team.Unassigned;
    public bool Winner => TeamSystem.GetFriendState( Team, TeamSystem.MyTeam ) == TeamSystem.FriendlyStatus.Friendly;

    protected override int BuildHash()
    {
        return HashCode.Combine( Team );
    }

    protected async Task Decay( int lifetime = 5 )
    {
        Visible = true;
        await GameTask.DelayRealtimeSeconds( lifetime );
        Visible = false;
        Delete();
    }

    public static void AddToHud( Team team )
    {
        var pnl = GunfightGame.Current.Hud.RootPanel.AddChild<WinningTeamDisplay>();
        pnl.Team = team;

        _ = pnl.Decay( 15 );
    }

    protected string TeamClasses()
    {
		var friendState = TeamSystem.GetFriendState( Team, TeamSystem.MyTeam );

		if ( friendState == TeamSystem.FriendlyStatus.Friendly ) return "friend";
		if ( friendState == TeamSystem.FriendlyStatus.Hostile ) return "enemy";
		if ( friendState == TeamSystem.FriendlyStatus.Neutral ) return "neutral";

		return "nothing";
    }
}
