@using Sandbox
@using Sandbox.UI

@implements INavigatorPage
@inherits Panel
@attribute [StyleSheet]
@namespace Facepunch.Gunfight.MainMenu

<root>
	<div class="main">
		<div class="left column grow">
			<div class="game-title">
				Gunfight
			</div>

			<div class="game-subtitle">
				Dying to get into the action?
			</div>
			
			<div style="flex-grow: 1;"/>
			
			<ExpandWidget>
				<Title>
					Modes
				</Title>
				<Body>
				<div style="gap:16px; font-size: 16px;">
					modes modes modes
				</div>
				</Body>
			</ExpandWidget>

			<ActionButton onclick=@Return>
				<Title>
					Return
				</Title>
				<Extra>
					<Panel class="new"/>
				</Extra>
			</ActionButton>
		</div>
		
		<div style="flex-grow: 1;"/>

		<div class="right column grow">
			<div style="flex-grow: 1;"/>

			<ExpandWidget>
            	<Title>
	                <label>Maps - @SelectedMaps.Count selected</label>
            	</Title>
            	<Body>
                <PackageList OnUpdate=@OnMapSelectionChanged MaxSelection=@(0)>
	                <WhenNothingFound>
		                <label>No maps found...</label>
	                </WhenNothingFound>
	                <WhenSearching>
		                <label>Searching for maps...</label>
	                </WhenSearching>
                </PackageList>
            	</Body>
            </ExpandWidget>

			<ActionButton onclick=@Search>
				<Title>
					Search
				</Title>
				<Extra>
					<i>search</i>
				</Extra>
			</ActionButton>
		</div>
	</div>
</root>

@code
{
	List<Package> SelectedMaps { get; set; } = new();
	
	void OnMapSelectionChanged( List<Package> packages )
	{
		SelectedMaps = packages;
	}
	
	void Search()
	{
		//
	}
	
	void Return()
	{
		this.Navigate( "/" );
	}
}
