MatchmakerPage
{
  > .main
  {
    .left, .right
    {
      width: 50%;
    }
  }
  
  .mode-list
  {
    overflow-y: scroll;
    flex-wrap: wrap;
    gap: 16px;
  }
}

PackageList
{
  max-height: 460px;
}