@using Sandbox
@using Sandbox.UI

@implements INavigatorPage
@inherits Panel
@attribute [StyleSheet]
@namespace Facepunch.Gunfight.MainMenu

<root>
	<div class="main">
		<div class="left column grow">
			<div class="game-title">
				Gunfight
			</div>

			<div class="game-subtitle">
				Dying to get into the action?
			</div>
			
			<div style="flex-grow: 1;"/>
			
			<ExpandWidget>
				<Title>
					Modes
				</Title>
				<Body>
				<div style="gap:16px; font-size: 16px;">
					modes modes modes
				</div>
				</Body>
			</ExpandWidget>

			<ActionButton onclick=@Return>
				<Title>
					Return
				</Title>
				<Extra>
					<Panel class="new"/>
				</Extra>
			</ActionButton>
		</div>
		
		<div style="flex-grow: 1;"/>

		<div class="right column grow">
			<div style="flex-grow: 1;"/>

			<ExpandWidget>
            	<Title>
            		Maps
            	</Title>
            	<Body>
            	<div class="package-list" style="gap:16px; font-size: 16px;">
            		@foreach ( var package in MapPackages )
		            {
			            <PackageCard OnLaunch=@(() => ToggleMap( package )) class="@GetPackageClasses( package )" Package=@package />
		            }
            	</div>
            	</Body>
            </ExpandWidget>

			<ActionButton onclick=@Search>
				<Title>
					Search
				</Title>
				<Extra>
					<i>search</i>
				</Extra>
			</ActionButton>
		</div>
	</div>
</root>

@code
{
	List<Package> MapPackages { get; set; } = new();
	List<Package> SelectedMaps { get; set; } = new();

	void ToggleMap( Package package )
	{
		if ( SelectedMaps.Contains( package ) )
		{
			SelectedMaps.Remove( package );
			return;
		}
		
		SelectedMaps.Add( package );
	}

	string GetPackageClasses( Package package )
	{
		if ( SelectedMaps.Contains( package ) ) return "selected";

		return "";
	}

	protected override void OnAfterTreeRender( bool firstTime )
	{
		_ = RunQuery();
	}

	async Task RunQuery()
	{
		var query = "type:map game:facepunch.gunfight";
		var result = await Package.FindAsync( query, 100, 0 );

		if ( result != null )
		{
			var packages = result.Packages;
			MapPackages = packages.ToList();

			StateHasChanged();
		}
	}

	void Search()
	{
		//
	}
	
	void Return()
	{
		this.Navigate( "/" );
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( MapPackages.Count );
	}
}
