@using Sandbox
@using Sandbox.Razor
@using Sandbox.UI

@inherits Panel
@attribute [StyleSheet]
@namespace Facepunch.Gunfight.MainMenu

@if ( MatchmakingSystem.CurrentState == MatchmakingSystem.State.Empty )
{
	return;
}

<root class="@GetClasses()">
	<div class="background"/>

	<div class="icon-container">
		<div class="icon"/>
	</div>

	<div class="main">
		<label>@CurrentState</label>
        <label class="large">@TimeString</label>
	</div>
</root>

@code
{
	TimeSince Time { get; set; } = 0;
	
	public string CurrentState
	{
		get => MatchmakingSystem.CurrentState switch {
			MatchmakingSystem.State.Empty => null,
			MatchmakingSystem.State.Searching => "Searching for a match...",
			MatchmakingSystem.State.Found => "Found a match.. Connecting..",
			MatchmakingSystem.State.NothingAvailable => "Couldn't find any match... trying again..",
			_ => throw new ArgumentOutOfRangeException()
		};
	}

	public string TimeString
	{
		get
		{
			return TimeSpan.FromSeconds( MatchmakingSystem.TimeSinceSearch ).ToString( @"mm\:ss" );
		}
	}

	public string GetClasses()
	{
		var str = "";
		if ( MatchmakingSystem.CurrentState == MatchmakingSystem.State.Found ) str = $"{str} finished";
		if ( MatchmakingSystem.CurrentState == MatchmakingSystem.State.NothingAvailable ) str = $"{str} error";
		
		return str;
	}
	
	protected override int BuildHash()
	{
		return HashCode.Combine( TimeString, CurrentState );
	}
}
