<root>
    <div class="main-game-hud">
        <div class="bottom-left">
            <!--<ArmourHud></ArmourHud>
                <HealthHud></HealthHud>-->
        </div>
    
        <div class="bottom-right">
            <FireModes></FireModes>
            <Ammo></Ammo>
            <div class="tactical">
               <!-- grenades -->
            </div>
        </div>
    
        <div class="top-middle">
        </div>
        <div class="bottom-middle">
            <Stance></Stance>
        </div>
    
        <NotificationManager />
        <ExperienceHints />
        <DamageIndicator />
        <HitIndicator />
        <GunVoiceList />
        <GunVoiceSpeaker />
        <HudHints />
        <HudMarkers />
        <PickupFeed />
        <KillFeed />
    </div>

    <LoadoutSelector />
    <GunfightScoreboard />
    <GunfightChatbox />
</root>