@using Sandbox
@using Sandbox.Razor
@using Sandbox.UI

@inherits Panel
@attribute [StyleSheet]

<root>
	<div class="header"  @onclick=@DoClick>
		<div class="background" />
		
		<div class="row">
			<label>
				@Title
			</label>
			<div style="flex-grow: 1;"/>
			<i class="expand-icon">expand_more</i>
		</div>
	</div>
	
	<div class="main">
		@Body
	</div>
</root>

@code
{
    public RenderFragment Title { get; set; }
    public RenderFragment Body { get; set; }
    public bool Expanded { get; set; } = true;

    public ExpandWidget()
    {
        SetClass( "is-hidden", !Expanded );
    }

    protected void DoClick( PanelEvent e )
    {
        Expanded ^= true;
        SetClass( "is-hidden", !Expanded );
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( Time.Now );
    }
}
