@import "/Styles/hud.scss";

PlayerLevelWidget
{
    width: 100%;
    gap: 8px;
    padding: 12px;
    background-color: rgba( 25, 25, 25, 0.5 );
    align-content: center;
    cursor: pointer;
    transition: all 0.1s ease;

    label
    {
        font-size: 20px;
        font-family: $main-font-bold;
        text-transform: uppercase;
        height: 20px;
        opacity: 1;
    }

    box-shadow: 5px 5px 30px rgba( black, 0.2 );

    &:hover
    {
        .label
        {
            color: white;
        }

        > .background
        {
            background-color: rgba(lighten($main-color, 0.1), 1);
        }
    }

    &:active
    {
        > .background
        {
            background-color: rgba(lighten($main-color, 0.2), 1);
        }
    }

    > .background
    {
        pointer-events: none;
        width: 100%;
        position: absolute;
        height: 100%;
        background-size: contain;
        mask-mode: luminance;
        background-color: $main-color;
        opacity: 0.5;
        mask-image: url( https://files.facepunch.com/tony/1b2611b1/dots_repeat.png );
    }

    pointer-events: none;
}
