@using Sandbox
@using Sandbox.Menu
@using Sandbox.Razor
@using Sandbox.UI

@inherits Panel
@attribute [StyleSheet]
@namespace Facepunch.Gunfight.MainMenu

<root>
	<ExpandWidget>
		<Title>
			Lobbies
		</Title>
		<Body>
			@if ( Debug )
			{
				<div class="lobby">
					<div class="background"/>

					<label class="name">Lobby</label>
					<div style="flex-grow: 1;" />
					<label class="slots">1 / 16</label>
				</div>
				<div class="lobby">
					<div class="background"/>

					<label class="name">Lobby</label>
					<div style="flex-grow: 1;" />
					<label class="slots">1 / 16</label>
				</div>
				<div class="lobby">
					<div class="background"/>

					<label class="name">Lobby</label>
					<div style="flex-grow: 1;" />
					<label class="slots">1 / 16</label>
				</div>
			}

			@foreach ( var lobby in MatchmakingSystem.Lobbies )
			{
				<div class="lobby" onclick=@(() => JoinLobbyAsync( lobby ) )>
					<div class="background"/>

					<label class="name">@GetLobbyName( lobby )</label>
					<div style="flex-grow: 1;" />
					<label class="slots">@lobby.MemberCount / @lobby.MaxMembers</label>
				</div>
			}
		
			@if ( !MatchmakingSystem.Lobbies.Any() )
			{
				<div class="lobby" onclick=@MakeLobbyAsync>
					<div class="background" />
					<label class="name">There are no lobbies at the moment. Make one?</label>
				</div>
			}
		</Body>
	</ExpandWidget>
</root>

@code
{
	bool Debug => false;

	string GetLobbyName( ILobby lobby )
	{
		return $"{lobby.Title}";
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( MatchmakingSystem.Lobbies );
	}

	async Task MakeLobbyAsync()
	{
		await Game.Menu.CreateLobbyAsync( 16, "gunfight", true );

		var lobby = MainMenu.CurrentLobby;
		lobby.Map = "eagleone.killhouse_chimona";
		lobby.State = "lobby";
		lobby.SetData( "gunfight-gamemode", "KillConfirmedGamemode" );
	}

	async Task JoinLobbyAsync( ILobby lobby )
	{
		MatchmakingSystem.TimeSinceSearch = 0;
		await MatchmakingSystem.JoinLobby( lobby );

		if ( MainMenu.CurrentLobby != null )
		{
			this.Navigate( "/lobby" );
		}
	}
}
