@import "/Resource/Styles/hud.scss";

$outline: #fff;
$highlight: #5c5;

PackageCard
{
  max-width: 259px;
  min-width: 250px;
  border: 1px solid transparent;
  margin: 2px;
  flex-direction: column;
  font-family: $main-font-bold;
  font-weight: 100;
  background-color: darken( $main-color, 0.5 );
  
  opacity: 0.6;
  
  &.fill
  {
    flex-grow: 1;
    max-width: 999px;
    aspect-ratio: 2;
    
    .card-image
    {
      aspect-ratio: 2;
      
    }
  }

  .card-image {
    border-radius: 1px;
    box-shadow: 5px 5px 30px rgba( black, 0.2 );
    cursor: pointer;
    background-position: center;
    background-size: cover;
    align-items: flex-end;
    transition: all 0.1s ease-in;
    border: 0.5px solid rgba( $main-color, 0.2 );
    mask: linear-gradient( to bottom, white, white 60%, black );

    &:hover {
      box-shadow: 0px 0px 2px 2px $main-color, 0px 0px 10px rgba( $main-color, 0.8 );
      sound-in: ui.hover;
    }

    &:active {
      top: 5px;
      left: 2px;
    }
  }

  .package-card-body {
    position: absolute;
    bottom: 0;
    flex-shrink: 0;
    font-size: 13px;
    flex-direction: row;  
    margin-top: 12px;
    pointer-events: none;
  }

  .body-content {
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    white-space: nowrap;
    padding: 8px;

    .body-meta {
      gap: 12px;

      > div {
        gap: 2px;
        font-size: 16px;
        align-items: center;

        i {
          font-size: 16px;
        }
      }
    }
  }

  .title {
    font-weight: bold;
    text-overflow: ellipsis;
    cursor: pointer;
    font-size: 24px;
    pointer-events: all;

    &:hover {
      text-decoration: underline;
    }
  }

  .orgname {
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card-image {
    aspect-ratio: 1.2;
    flex-grow: 1;
    flex-shrink: 0;
  }

  &.is-favourite .body-meta .favourite {
    color: #fac;
  }

  &.selected {
    opacity: 1;
    transform: scale(1.03);
    
    .card-image {
      border: 4px solid $main-color;
    }
  }
}

.card-decorator-unplayed, .card-decorator-updated
{
  background-color: #182229;
  color: #65788B;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 6px 8px;
  text-transform: uppercase;
  border-radius: 3px 0px 2px 0px;
  font-size: 10px;
  letter-spacing: 1px;
}

.card-decorator-updated
{
  background-color: darken( rgba( $highlight, 0.95 ), 0.33 );
  color: lighten( $highlight, 0.5 );
}


.card-decorator-users
{
  background-color: darken( rgba( $highlight, 0.95 ), 0.33 );
  color: lighten( $highlight, 0.5 );
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 3px 8px;
  border-radius: 0px 3px 0px 2px;
  aspect-ratio: 1;
  box-shadow: 2px 2px 16px #0002;
  font-size: 12px;
  font-weight: bold;
  gap: 3px;
  align-items: center;

  i
  {
    font-size: 16px;
  }
}