@using Sandbox;
@using Sandbox.UI;

@implements INavigatorPage
@attribute [StyleSheet]
@namespace Facepunch.Gunfight.MainMenu

<style>
	.new
	{
		width: 16px;
		height: 16px;
		background-color: #7cab6a;
	}
</style>

<root>
	<div class="main">
		<div class="left column">
			<div class="game-title">
				Gunfight
			</div>
			
			<ExpandWidget>
				<Title>
					Message Of The Day
				</Title>
				<Body>
				<div style="gap:16px; font-size: 16px;">
					<i>waving_hand</i>

					Gunfight is a work in progress game. If you run into bugs, feel free to report them. Have fun!
				</div>
				</Body>
			</ExpandWidget>

			<div style="flex-grow: 1;"/>

			<ActionButton WithBackground="https://files.facepunch.com/tony/1b1311b1/boxes.webm" onclick=@Matchmake>
				<Title>
					Quick Play
				</Title>
				<Description>
					Start queueing for a game quickly!
				</Description>
			</ActionButton>
			<ActionButton WithBackground="https://files.facepunch.com/tony/1b2611b1/kc.png" Blend="orange" onclick=@Matchmake>
				<Title>
					War Room
				</Title>
				<Description>
					Two teams of 16 battle it out to deplete the other team's tickets.
				</Description>
				<Extra>
					<Panel class="new"/>
				</Extra>
			</ActionButton>
			<ActionButton onclick=@Matchmake>
				<Title>
					Kill Confirmed
				</Title>
				<Extra>
					<Panel class="new"/>
				</Extra>
			</ActionButton>
			<ActionButton onclick=@Matchmake>
				<Title>
					Gunfight (2v2)
				</Title>
				<Extra>
					<Panel class="new"/>
				</Extra>
			</ActionButton>
		</div>
    
        <div style="flex-grow: 1;"/>
    
        <div class="right column">
	        <div style="flex-grow: 1;"/>
	        <ExpandWidget>
		        <Title>
			        Lobbies
		        </Title>
				
				<Body>
					<div style="gap:16px; font-size: 16px;">	
				        <i>travel_explore</i>
						There aren't any lobbies for you to join right now. <a onclick=@(() => MakeLobbyAsync() )>Make one?</a>
					</div>
		        </Body>
	        </ExpandWidget>
        </div>
        
        <div class="column" style="left:24px;">
	        <FriendsList />
        </div>
	</div>
</root>

@code
{
	void Matchmake( PanelEvent e )
	{
		this.Navigate( "/find" );
	}

	async Task MakeLobbyAsync()
	{
		await Game.Menu.CreateLobbyAsync( 16, "gunfight", true );

		var lobby = Game.Menu.Lobby;
		lobby.Map = "eagleone.killhouse_chimona";
		lobby.SetData( "gunfight-gamemode", "KillConfirmedGamemode" );
	}
}
