@using Sandbox;
@using Sandbox.UI;

@implements INavigatorPage
@attribute [StyleSheet]
@namespace Facepunch.Gunfight.MainMenu

<style>
	.new
	{
		width: 16px;
		height: 16px;
		background-color: #7cab6a;
	}
</style>

<root>
	<div class="main">
		<div class="left column">
			<div class="game-title">
				Gunfight
			</div>
			
			<ExpandWidget>
				<Title>
					Message Of The Day
				</Title>
				<Body>
				<div style="gap:16px; font-size: 16px;">
					<i>waving_hand</i>

					Gunfight is a work in progress game. If you run into bugs, feel free to report them. Have fun!
				</div>
				</Body>
			</ExpandWidget>

			<div style="flex-grow: 1;"/>

			<ActionButton WithBackground="https://files.facepunch.com/tony/1b1311b1/boxes.webm" onclick=@Matchmake>
				<Title>
					Matchmaking
				</Title>
				<Description>
					Ready to get into the action?
				</Description>
			</ActionButton>
		<ActionButton WithBackground="https://files.facepunch.com/tony/1b2611b1/kc.png" Blend="orange" onclick=@OpenServerList>
				<Title>
					Server Browser
				</Title>
				<Description>
					View all active game servers.
				</Description>
				<Extra>
					<Panel class="new"/>
				</Extra>
			</ActionButton>
		</div>
    
        <div style="flex-grow: 1;"/>
    
        <div class="right column">
	        <div style="flex-grow: 1;"/>
	        
	        <QuickLobbyListWidget />
        </div>
        
        <div class="column" style="left:24px;">
	        <FriendsList />
        </div>
	</div>
</root>

@code
{
	void OpenServerList( PanelEvent e )
	{
		this.Navigate( "/servers" );
	}

	void Matchmake( PanelEvent e )
	{
		this.Navigate( "/find" );
	}
}
