@import "/Styles/hud.scss";

LandingPage
{
  > .main
  {
    transition: all 0.4s ease;
    
    &:intro
    {
      opacity: 0;
      transform: scale(1.1);
    }
    opacity: 1;
    
    .left
    {
      width: 60%;
    }

    .right {
        width: 25%;
    }
  }

  .row {
      gap: 16px;
  }
}