@using Sandbox;
@using Sandbox.UI;

@implements INavigatorPage
@attribute [StyleSheet]
@namespace Facepunch.Gunfight.MainMenu

<style>
	.new
	{
		width: 16px;
		height: 16px;
		background-color: #7cab6a;
	}
</style>

<root>
	<div class="main">
		<div class="left column">
			<div class="game-title">
				Gunfight
			</div>
		
            <ExpandWidget style="width: 45%;">
				<Title>
					Message Of The Day
				</Title>
				<Body>
				<div style="gap:16px; font-size: 16px;">
					<i>code</i>

					Gunfight is a work in progress game. If you run into bugs, feel free to report them. Have fun!
				</div>
				</Body>
			</ExpandWidget>

			<div style="flex-grow: 1;"/>
            
            <div class="row">
                <ActionButton onclick=@CreateAClass>
                    <Title>Create A Class</Title>
                    <Description>
                        Make your own loadouts here.
                    </Description>
                    <Extra>
                        <Panel class="new" />
                    </Extra>
                </ActionButton>
                
                <ActionButton onclick=@ViewStats>
                    <Title>Stats</Title>
                    <Description>
                        Check out all of your stats, including match history.
                    </Description>
                </ActionButton>
            </div>

            <div class="row">
			    <ActionButton WithBackground="https://files.facepunch.com/tony/1b1311b1/boxes.webm" onclick=@Matchmake>
				    <Title>
					    Matchmaking
				    </Title>
				    <Description>
					    Ready to get into the action?
				    </Description>
			    </ActionButton>
		        <ActionButton WithBackground="https://files.facepunch.com/tony/1b2611b1/kc.png" Blend="orange" onclick=@OpenServerList>
				    <Title>
					    Server Browser
				    </Title>
				    <Description>
					    View all active game servers.
				    </Description>
			    </ActionButton>
            </div>
		</div>
    
        <div style="flex-grow: 1;"/>

        <div class="right column">
            <ActionButton class="icon-only" onclick=@ViewSettings>
                <Extra>
                    <i>gear</i>
                </Extra>
            </ActionButton>
            
            <div style="flex-grow: 1;"/>
	        
            <LeaderboardWidget />
	        <FriendsListWidget />
	        <PlayerLevelWidget />
        </div>
	</div>
</root>

@code
{
    void OpenServerList( PanelEvent e )
    {
        this.Navigate( "/servers" );
    }

    void Matchmake( PanelEvent e )
    {
        this.Navigate( "/find" );
    }

    void ViewStats( PanelEvent e )
    {
        this.Navigate( "/stats" );
    }

    void CreateAClass( PanelEvent e )
    {
        this.Navigate( "/createaclass" );
    }

    void ViewSettings( PanelEvent e )
    {
        this.Navigate( "/settings" );
    }
}
