@using Sandbox
@using Sandbox.UI

@implements INavigatorPage
@inherits Panel
@attribute [StyleSheet]
@namespace Facepunch.Gunfight.MainMenu

<root>
	<div class="main">
		<div class="left column grow">
			<div class="game-title">
				Gunfight
			</div>

			<div class="game-subtitle">
				Dying to get into the action?
			</div>

			<div style="flex-grow: 1;"/>

			<ExpandWidget>
				<Title>
					Modes
				</Title>
				<Body>
				<GamemodeList/>
				</Body>
			</ExpandWidget>

			<ActionButton onclick=@Return>
				<Title>
					Return
				</Title>
				<Extra>
					<Panel class="new"/>
				</Extra>
			</ActionButton>
		</div>

		<div style="flex-grow: 1;"/>

		<div class="right column grow">
			<div style="flex-grow: 1;"/>

			<ExpandWidget>
				<Title>
					<label>Maps - @SelectedMaps.Count selected</label>
				</Title>
				<Body>
				<PackageList OnUpdate=@OnMapSelectionChanged MaxSelection=@(0)>
					<WhenNothingFound>
						<label>No maps found...</label>
					</WhenNothingFound>
					<WhenSearching>
						<label>Searching for maps...</label>
					</WhenSearching>
				</PackageList>
				</Body>
			</ExpandWidget>

			<span style="gap: 16px;">
				<ActionButton onclick=@CreateLobby>
					<Title>
						Create Lobby
					</Title>
					<Extra>
						<i>wifi</i>
					</Extra>
				</ActionButton>
				<ActionButton onclick=@Search>
					<Title>
						Search
					</Title>
					<Extra>
						<i>search</i>
					</Extra>
				</ActionButton>
			</span>

		</div>
	</div>
</root>

@code
{
	List<Package> SelectedMaps { get; set; } = new();
	string SelectedMode { get; set; } = "KillConfirmedGamemode";
	
	void OnMapSelectionChanged( List<Package> packages )
	{
		SelectedMaps = packages;
	}
	
	void Search()
	{	
		// TODO - Return error if we can't search?
		_ = StartSearching();
		
		if ( MatchmakingSystem.CurrentState != MatchmakingSystem.State.Empty ) this.Navigate( "/" );
	}

	async Task StartSearching()
	{
		// Need to select a map.
		if ( SelectedMaps.Count < 1 ) return;
		
		var result = await MatchmakingSystem.Search( SelectedMode, 
			SelectedMaps.Select( x => x.FullIdent ).ToArray() );
		
		// If we don't have a result, and we've been only matchmaking for less than 60s, search
		if ( !result )
		{
			if ( MatchmakingSystem.TimeSinceSearch < 15 )
			{
				_ = StartSearching();
			}
			// If we've been searching for a while, let's make our own session with a random map from the selection?
			else
			{
				MatchmakingSystem.CurrentState = MatchmakingSystem.State.Found;

				await Task.Delay( 1000 );

				MatchmakingSystem.CurrentState = MatchmakingSystem.State.Empty;

				var lobby = await Game.Menu.CreateLobbyAsync( 16, "gunfight", true );
				lobby.Map = Game.Random.FromArray( SelectedMaps.Select( x => x.FullIdent ).ToArray() );
				lobby.SetData( "gunfight-gamemode", SelectedMode );

				this.Navigate( "/lobby" );
			}
		}
		else
		{
			if ( MainMenu.CurrentLobby != null ) this.Navigate( "/lobby" );
		}
	}
	
	void Return()
	{
		this.Navigate( "/" );
	}

	async Task CreateLobby()
	{
		if ( SelectedMaps.Count < 1 )
		{
			// TODO - Error
			return;
		}
		
		await Game.Menu.CreateLobbyAsync( 16, "gunfight", true );

		var lobby = MainMenu.CurrentLobby;
		lobby.Map = Game.Random.FromArray( SelectedMaps.Select( x => x.FullIdent ).ToArray() );
		lobby.SetData( "gunfight-gamemode", "KillConfirmedGamemode" );
	}
}
