@using Sandbox
@using Sandbox.UI

@implements INavigatorPage
@inherits Panel
@attribute [StyleSheet]
@namespace Facepunch.Gunfight.MainMenu

<root>
	<div class="main">
		<div class="left column grow">
			<div class="game-title">
				Gunfight
			</div>
			
			<div style="flex-grow: 1;"/>

            {
                <ActionButton onclick=@CreateAClass>
                    <Title>Create A Class</Title>
                    <Description>
                        Make your own loadouts here.
                    </Description>
                    <Extra>
                        <Panel class="new" />
                    </Extra>
                </ActionButton>
            }

			<ActionButton onclick=@Respawn>
            	<Title>
            		Respawn
            	</Title>
            </ActionButton>
    
			<ActionButton onclick=@ViewSettings>
				<Title>
					Settings
				</Title>
                <Description>
                    Tweak all your options here.
                </Description>
			</ActionButton>

			<ActionButton onclick=@Disconnect>
				<Title>
					Disconnect
				</Title>
                <Description>
                    Leave the current session.
                </Description>
			</ActionButton>
		</div>
	</div>
</root>

@code
{
    void Quit( PanelEvent e )
    {
        Game.Menu.Close();
    }

    void CreateAClass( PanelEvent e )
    {
        this.Navigate( "/createaclass" );
    }

    void ViewSettings()
    {
        this.Navigate( "/settings" );
    }

	void Respawn( PanelEvent e )
	{
		ConsoleSystem.Run( "kill" );

		Game.Menu.HideMenu();
	}

	void Disconnect( PanelEvent e )
	{
		Game.Menu.LeaveServer( "Leaving" );
		this.Navigate( "/" );
	}
}
