@import "/Resource/Styles/hud.scss";

GunfightScorePanel {
    position: absolute;
    margin-top: 64px;
    width: 18%;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    label {
        color: $theme-color;
        font-family: Quantico-Regular;
        font-size: 16px;
    }

    .counts {
        position: absolute;
        width: 100%;
        top: 4px;
        height: 24px;
        align-content: center;
        justify-content: center;

        label {
            font-size: 24px;
        }

        .count {
            font-family: Quantico-Bold;

            > .icon {
                margin-top: 4px;
                font-family: Material Icons;
            }

            &.enemy {
                > .icon {
                    color: $enemy;
                    margin-left: 4px;
                }
            }

            &.friendly {
                > .icon {
                    color: $friendly;
                    margin-right: 4px;
                }
            }
        }

        .spacer {
            width: 100%;
        }
    }

    .gamestatus {
        justify-content: center;
        align-content: center;
        flex-direction: column;
        align-items: center;
        height: 40px;

        > label {
            font-size: 24px;
        }
    }

    .time {
        justify-content: center;
        align-content: center;
        flex-direction: column;
        align-items: center;
        height: 40px;

        > label {
            font-size: 32px;
            font-family: Quantico-Bold;
        }
    }

    .scoreboxes {
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 80px;

        .box {
            width: 48px;
            height: 48px;
            border: 2px solid rgba( $theme-color, 0.1 );
            background-color: rgba( $theme-color, 0.05 );
            backdrop-filter: blur(5px);

            &:not( :first-child ) {
                margin-left: 4px;
            }

            background-size: 60%;
            background-position: center;
            background-repeat: no-repeat;

            &.winning {
                width: 64px;
                height: 64px;
            }

            &.friendly {
                border: 2px solid $friendly;
                background-color: rgba( $friendly, 0.05 );
                background-image-tint: $friendly;
                background-image: url( /ui/crown.png );
            }

            &.enemy {
                border: 2px solid $enemy;
                background-color: rgba( $enemy, 0.05 );
                background-image-tint: $enemy;
                background-image: url( /ui/crown.png );
            }
        }
    }
}
