@using Sandbox.UI;
@using Sandbox;
@using Facepunch.Gunfight;

@namespace Facepunch.Gunfight.UI
@inherits Panel

<root>
    <div class="left element"></div>
    <div class="right element"></div>
    <div class="top element"></div>
    <div class="bottom element"></div>
    <div class="dot element"></div>
</root>

@code {
	protected override int BuildHash()
    {
		var player = Game.LocalPawn as GunfightPlayer;
		var weapon = player?.ActiveChild as GunfightWeapon;
		var isAiming = player?.IsAiming ?? false;
		
        return HashCode.Combine( player, weapon, isAiming );
    }

    public override void Tick()
    {
        var player = Game.LocalPawn as GunfightPlayer;
        var weapon = player?.ActiveChild as GunfightWeapon;
        var isAiming = player?.IsAiming ?? false;

	    SetClass( "visible", ( !isAiming || PlayerController.UseAimDebug ) && player.LifeState == LifeState.Alive );
	    // SetClass( "visible", true );

	    if ( !player.IsValid() ) return;
	    if ( !weapon.IsValid() ) return;
	    if ( player.Controller == null ) return;
	    
        var speed = player?.Velocity.Length.LerpInverse( 0, 350, true ) ?? 0;
        if ( player?.Controller.Slide.IsActive ?? false ) speed = 0;

        // Sprinting cycle
        float cycle = Time.Now * 8f;
        var rotation = new Angles(
                MathF.Abs( MathF.Sin( cycle ) * 2.0f ),
                MathF.Cos( cycle ),
                0
            ) * speed * 5f;

        var tr = new PanelTransform();
        tr.AddTranslateX( rotation.yaw );
        tr.AddTranslateY( rotation.pitch );
        Style.Transform = tr;
    }
}
