@import "/Resource/Styles/hud.scss";

iconpanel {
    font-family: "Material Icons";
}

GunfightChatbox {
    position: absolute;
    bottom: 64px;
    left: 64px;
    z-index: 99;
    flex-direction: column;
    width: 550px;
    font-family: $main-font-bold;
    font-size: 16px;
    pointer-events: none;

    textentry {
        transition: all 0.1s ease;
        height: 54px;
        background-color: black;
        opacity: 0;
        color: white;
        padding: 15px;
        background-color: rgba(40, 38, 38, 0.5);
        font-size: 18px;
        width: 50%;
        border: 2px solid rgba(0, 0, 0, 0.3);

        > .send {
            right: 0;
            position: absolute;
            background-color: rgba(40, 38, 38, 0.5);
            height: 51px;
            aspect-ratio: 1;
            border-left: 2px solid rgba(0, 0, 0, 0.1);
            
            label {
                position: absolute;
                width: 100%;
                height: 100%;
                font-family: Material Icons;
                font-size: 28px;
                text-align: center;
                justify-content: center;
                align-items: center;
                align-content: center;
                color: $main-color;
            }

        }
    }

    .placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    .canvas {
        flex-direction: column;
        align-items: flex-start;
        overflow: scroll;
        max-height: 520px;
        min-height: 60px;
    }

    &.open {
        pointer-events: all;

        textentry {
            opacity: 1;
            width: 100%;
            cursor: text;
        }

        .faded {
            opacity: 1;
        }
    }
}

ChatboxRow {
    margin-bottom: 16px;
    color: white;
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    opacity: 1;
    max-height: 200px;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 150%;
    transform: scale( 1 );
    flex-direction: row;

    background-image: linear-gradient( to right, rgba( black, 0.5 ), rgba( black, 0 ) );

    &:intro, &:outro {
        max-height: 0px;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        opacity: 0;
        transform: scale( 0 );
    }

    .avatar {
        aspect-ratio: 1;
        height: 45px;
        border: 1px solid black;
        position: absolute;
        z-index: 100;

        .image { 
            height: 45px;
            aspect-ratio: 1; 
        }
    }

    .header {
        text-shadow: 0px 0px 1px rgba( black, 0.3 );
        height: 100%;
    }

    .name {
        margin-left: 46px;
        font-weight: 600;
        font-size: 20px;
        color: white;
        flex-shrink: 0;
        text-shadow: 0px 0px 1px rgba( black, 0.8 );
        top: 11px;
    }

    .main {
        padding: 8px;
        padding-right: 16px;
        padding-left: 8px;
        padding-bottom: 11px;
    }

    .message {
        color: white;
        font-size: 20px;
        font-family: $main-font-semibold;
        font-weight: 600;
        flex-grow: 1;
        text-shadow: 0px 0px 1px rgba( black, 0.5 );
        top: 3px;
    }

    &.not-message {
        .message {
            color: $main-color;

        }
    }

    &.is-lobby {
        .name {
            color: #ff80f5;
        }
    }

    &.friend {
        .name {
            color: rgba( $friendly, 1 );
        }

        .avatar {
            border: 2px solid rgba( $friendly, 0.8 );
        }
    }

    &.enemy {
        .name {
            color: rgba( $enemy, 1 );
        }

        .avatar {
            border: 2px solid rgba( $enemy, 0.8 );
        }
    }
}
