@import "/Resource/Styles/hud.scss";

iconpanel {
    font-family: "Material Icons";
}

Chatbox {
    position: absolute;
    bottom: 200px;
    left: 64px;
    z-index: 50;
    flex-direction: column;
    width: 550px;
    font-family: $main-font-bold;
    font-size: 16px;
    pointer-events: none;

    textentry {
        transition: all 0.1s ease;
        height: 54px;
        background-color: black;
        opacity: 0;
        color: white;
        padding: 15px;
        background-color: rgba( black, 0.1 );
        font-size: 18px;
        width: 70%;
    }

    .placeholder {
        color: white;
    }

    .canvas {
        flex-direction: column;
        align-items: flex-start;
        overflow: scroll;
        max-height: 520px;
        min-height: 60px;
    }

    &.open {
        pointer-events: all;

        textentry {
            opacity: 1;
            width: 120%;
            cursor: text;
        }

        .faded {
            opacity: 1;
        }
    }
}

ChatboxRow {
    margin-bottom: 16px;
    color: white;
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    opacity: 1;
    max-height: 200px;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 150%;
    transform: scale( 1 );
    flex-direction: column;

    &:intro, &:outro {
        max-height: 0px;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        opacity: 0;
        transform: scale( 0 );
    }

    .avatar {
        width: 52px;
        height: 52px;
        min-height: 32px;
        border-radius: 100px;
        border: 1px solid black;
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
    }

    .image {
        border-radius: 100px;
    }

    .header {
        padding: 4px;
        padding-right: 16px;
        padding-left: 8px;
        background-color: rgba( black, 0.7 );
        text-shadow: 0px 0px 1px rgba( black, 0.3 );
    }

    .name {
        margin-left: 56px;
        padding-right: 12px;
        font-weight: 600;
        font-size: 20px;
        color: white;
        flex-shrink: 0;
    }

    .main {
        padding: 4px;
        padding-right: 16px;
        padding-left: 8px;
        background-color: rgba( black, 0.2 );
    }

    .message {
        margin-left: 56px;
        color: white;
        font-size: 17px;
        font-weight: bolder;
        flex-grow: 1;
    }

    &.noname .name {
        display: none;
    }

    &.noavatar image {
        display: none;
    }

    &.is-lobby {
        .name {
            color: #ff80f5;
        }
    }

    &.custom {
        .name {
            display: none;
        }
    }

    &.not-message {
        .main {
            background-color: rgba( black, 0.7 );
        }

        .message {
            margin-left: 0px;
            color: rgba( white, 0.8 );
            text-shadow: 0px 0px 1px rgba( black, 0.5 );
        }

        .name {
            text-shadow: 0px 0px 1px rgba( black, 0.8 );
        }

        .avatar {
            left: 0px;
        }
    }


    &.not-me {
        .header {
            background-color: rgba( black, 0.5 );
        }

        &.not-message {
            .main {
                background-color: rgba( black, 0.5 );
            }
        }
    }
}
