@using Sandbox;
@using Sandbox.UI;

@inherits Panel;
@namespace Facepunch.Gunfight.UI

<style>
    FFAHud {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }
</style>

<root>
    <div class="top-middle">
        <GameStatus />
    </div>
</root>

@code
{
}
