@using System.ComponentModel.DataAnnotations
@using Sandbox;
@using Sandbox.UI;

@namespace Facepunch.Gunfight.MainMenu
@inherits Panel
@attribute [StyleSheet]

@if ( Gamemode == null )
{
	return;
}

<root>
	<div class="background" />
    <label class="name">@Gamemode.Title</label>
    <label class="description">@Gamemode.Description</label>
</root>

@code
{
	public TypeDescription Gamemode { get; set; }

	public string GamemodeName
	{
		set
		{
			if ( value == null ) return;
			
			Gamemode = FindGamemode( value ) ?? throw new Exception( $"Couldn't find gamemode with type name {value}" );
		}
	}

	TypeDescription FindGamemode( string name )
	{
		foreach ( var gamemode in TypeLibrary.GetTypes<Gamemode>().Where( x => !x.IsAbstract && x.HasAttribute<DisplayAttribute>() ) )
		{
			if ( gamemode.Name == name || gamemode.Title == name )
			{
				return gamemode;
			}
		}
		
		return null;
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( Gamemode?.Title.GetHashCode() );
	}
}
