@using Sandbox;
@using Sandbox.UI;

@attribute [StyleSheet( "/UI/Scoreboard/GunfightScoreboard.scss" )]
@namespace Facepunch.Gunfight.UI

<root>
    <div class="main">
        <div class="title">
            <text>Scoreboard</text>
        </div>

        <div class="canvases" @ref=Canvases>
        </div>
    </div>
</root>

@code
{
    public Dictionary<Team, ScoreboardTeam> Teams = new();

    public Panel Canvases;

    bool IsLoaded = false;

    public void AddTeam( Team team )
    {
        var teamPanel = Canvases.AddChild<ScoreboardTeam>( "team" );
        teamPanel.Team = team;

        Teams.Add( team, teamPanel );
    }

    [Event.Hotload]
    protected void Hotload()
    {
        IsLoaded = false;
        Teams.Clear();
        Canvases.DeleteChildren();
    }

    public override void Tick()
    {
        SetClass( "open", Input.Down( "Score" ) );

        if ( !IsVisible )
            return;

        if ( !IsLoaded )
        {
            if ( !GamemodeSystem.Current.IsValid() )
            {
                AddTeam( Team.Unassigned );
            }
            else
            {
                GamemodeSystem.Current.TeamSetup.ForEach( AddTeam );
            }

            IsLoaded = true;
        }

        Update();
    }


    TimeUntil TimeUntilNextUpdate = 0;
    void Update()
    {
        if ( TimeUntilNextUpdate )
        {
            TimeUntilNextUpdate = 0.2f;

            foreach( var team in Teams )
                team.Value.Update();
        }
    }
}
