@import "/Resource/Styles/hud.scss";

Scoreboard {
    align-items: flex-start;
    background-image: linear-gradient(180deg, rgba(25, 25, 35, 0.6) 0%, rgba(0, 0, 25, 0.8) 100%);
    font-family: $main-font-bold;
    flex-direction: row;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    transition: opacity 0.2s ease;

    &.open {
        opacity: 1;
        pointer-events: all;

        .main {
            transform: translateX(0%);
        }
    }

    .grow {
        flex-grow: 1;
    }

    .main {
        flex-direction: column;
        transition: all 0.2s ease;
        transform: translateX(-100%);
        position: absolute;
        width: 50%;
        height: 100%;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%);
        backdrop-filter-blur: 50px;
    }

    .title {
        margin-top: 5%;
        height: 10%;
        margin-left: 64px;
        width: 450px;
        border-left: 3px solid $main-color;
        background-color: rgba( black, 0.2 );
        padding-right: 20px;
        padding-left: 10px;

        > text {
            height: 100%;
            top: 2px;
            font-family: Oxanium;
            font-weight: 600;
            font-size: 60px;
            color: white;
            text-transform: uppercase;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
    }

    .names {
        align-items: center;
        background-size: 100%;
        color: $main-color;
        height: 44px;
        padding-right: 64px;
        padding-left: 64px;
        font-weight: 500;
        font-family: Oxanium;
        font-size: 20px;
        text-transform: uppercase;
    }

    .name {
        flex-grow: 1;
    }

    .deaths, .kills, .score, .fps, .captures, .ping {
        width: 150px;
    }

    .canvases {
        flex-direction: column;
        margin-left: 64px;
        margin-right: 32px;
    }

    scoreboardteam {
        &:first-child {
            //transform: rotateY(10deg) rotateX(10deg);
        }

        &:last-child {
            //transform: rotateY(10deg) rotateX(-10deg);
        }

        flex-direction: column;
        margin-bottom: 20px;
        width: 100%;

        > .header {
            flex-direction: row;
            padding-top: 24px;
            padding-bottom: 24px;
            height: 100px;

            justify-content: center;
            align-items: center;
            align-content: center;

            > .score {
                flex-direction: column;
                margin-right: 96px;
                width: 300px;

                > .bar {
                    flex-grow: 1;
                    background-color: rgba(40, 38, 38, 0.5);
                    border: 2px solid rgba(0, 0, 0, 0.2);

                    > .bar-inner {
                        border: 2px solid rgba(0, 0, 0, 0.1);
                        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
                    }
                }
            }

            .team-name, .team-score {
                text-transform: uppercase;
                font-family: Oxanium;
                font-weight: 600;
                font-size: 50px;
                color: white;
                align-items: center;
                text-shadow: 0px 0px 20px rgba( black, 0.5 );
            }

            .team-score {
                height: 35px;
                margin-left: -12px;
                font-size: 30px;
            }
        }

        &.friend {
            > .header {
                label {
                    color: $friendly;
                }

                .bar-inner {
                    background-color: rgba( #1AE7F4, 0.8 );
                }
            }
        }

        &.enemy {
            > .header {
                label {
                    color: $enemy;
                }

                .bar-inner {
                    background-color: rgba( #F53F16, 0.8 );
                }
            }
        }

        .canvas {
            flex-direction: column;
            min-width: 30%;

            .placeholder {
                border: 2px solid rgba(0, 0, 0, 0.2);
                border-bottom: none;
                text-align: center;
                font-weight: 700;
                font-family: Oxanium;
                font-size: 35px;
                align-items: center;
                justify-content: center;
                align-content: center;
                height: 250px;
                background-image: linear-gradient( to top, rgba( black, 0.5 ), rgba( black, 0 ) );

                animation-name: placeholderanim;
                animation-duration: 1.5s;
                animation-timing-function: ease-in;
                animation-iteration-count: infinite;
            }

            ScoreboardRow {
                align-items: center;
                background-size: 100%;
                margin-bottom: 4px;
                height: 50px;
                padding-right: 40px;

                background-color: rgba(0, 0, 0, 0.2);
                border: 2px solid rgba(0, 0, 0, 0.2);

                label {
                    font-weight: 600;
                    font-family: Oxanium;
                    font-size: 20px;
                }

                .name, .kills, .deaths, .score, .ping {
                    color: white;
                }

                &.friend {
                    img {
                        border: 2px solid $friendly;
                    }

                    .name {
                        color: $friendly;
                    }
                }

                &.enemy {
                    img {
                        border: 2px solid $enemy;
                    }

                    .name {
                        color: $enemy;
                    }
                }
            
                &.me {
                    img {
                        border: 2px solid $main-color;
                    }

                    .name {
                        color: $main-color;
                    }
                }

                img {
                    left: 0;
                    height: 100%;
                    aspect-ratio: 1;
                    margin-right: 8px;
                }
            }
        }
    }
}


@keyframes placeholderanim {
    0% {
        color: rgba( #FFCF26, 1 );
    }

    50% {
        color: rgba( #FFCF26, 0.5 );
    }

    100% {
        color: rgba( #FFCF26, 1 );
    }
}