@using Sandbox;
@using Sandbox.UI;

@inherits Panel;
@attribute [StyleSheet( "/UI/LoadoutPanel/LoadoutPanel.scss" )]
@namespace Facepunch.Gunfight.UI

<root>
    <div class="header">
        <label>Your loadout</label>
    </div>

    @if ( Loadout == null )
        return;

    @if ( Loadout.PrimaryWeapon.IsSet )
    {
        <WeaponPanel Weapon="@Loadout.PrimaryWeapon.WeaponName" />
    }
    else
    {
        <div class="entry empty">
            <label class="name">No primary</label>
        </div>
    }

    @if ( Loadout.SecondaryWeapon.IsSet )
    {
        <WeaponPanel Weapon="@Loadout.SecondaryWeapon.WeaponName" />
    }
    else
    {
        <div class="entry empty">
            <label class="name">No secondary</label>
        </div>
    }
</root>

@code
{
    public Loadout Loadout => GamemodeSystem.Current.CurrentLoadout;

    protected override void OnAfterTreeRender( bool firstTime )
    {
        Current = this;

        _ = DeleteSoon();
    }

    async Task DeleteSoon()
    {
        await GameTask.DelaySeconds( 60 );
        Delete();
    }
}
