@import "/Styles/hud.scss";

LoadoutPanel {
    position: absolute;
    right: 64px;
    top: 64px;
    flex-direction: column;

    > .header {
        label {
            font-family: Oxanium;
            font-weight: 600;
            font-size: 24px;
            color: $main-color;
            text-transform: uppercase;
        }

        margin-bottom: 6px;
    }

    padding-left: 16px;
    flex-direction: column;

    > .entry {
        width: 320px;
        height: 120px;
        margin-bottom: 16px;
        background-color: rgba(40, 38, 38, 0.5);
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-right: 2px solid $main-color;

        &.has-attachments {
            height: 148px;
        }

        > .icon {
            position: absolute;
            height: 120px;
            aspect-ratio: 2;
            background-size: cover;
            right: 32px;
        }

        > .name {
            position: absolute;
            margin-left: 8px;
            top: 80px;
            font-family: Oxanium;
            font-weight: 600;
            font-size: 24px;
            color: $main-color;
            text-transform: uppercase;
        }

        &.empty {
            height: 50px;

            > .name {
                top: 9px;
                color: rgba( $theme-color, 0.8 );
            }
        }

        > .attachments {
            position: absolute;
            width: 100%;
            bottom: 6px;
            margin-left: 8px;

            > .attachment {
                > .name {
                    align-items: center;
                    font-family: Oxanium;
                    font-weight: 600;
                    font-size: 16px;
                    color: rgba( $theme-color, 0.9 );
                    margin-right: 8px;
                }
            }
        }
    }
}