@import "/Resource/Styles/hud.scss";

LoadoutPanel {
    position: absolute;
    border-left: 2px solid $theme-color;
    padding-left: 16px;
    left: 64px;
    top: 64px;
    flex-direction: column;

    > .header {
        label {
            font-family: $alternate-font;
            font-size: 32px;
            color: $theme-color;
        }

        margin-bottom: 16px;
    }

    padding-left: 16px;
    flex-direction: column;

    > .entry {
        width: 250px;
        height: 120px;
        border-left: 2px solid $theme-color;
        margin-bottom: 16px;
        background-image: linear-gradient( to left, rgba( black, 0 ), rgba( black, 0.5 ));

        &.has-attachments {
            height: 155px;
        }

        > .icon {
            position: absolute;
            height: 120px;
            aspect-ratio: 2;
            background-size: cover;
        }

        > .name {
            position: absolute;
            margin-left: 16px;
            top: 80px;
            font-family: $alternate-font;
            font-size: 24px;
            color: $theme-color;
        }

        &.empty {
            height: 50px;

            > .name {
                top: 5px;
                color: rgba( $theme-color, 0.8 );
            }
        }

        > .attachments {
            position: absolute;
            width: 100%;
            bottom: 6px;
            margin-left: 16px;

            > .attachment {
                > .name {
                    align-items: center;
                    font-family: $alternate-font;
                    font-size: 20px;
                    color: rgba( $theme-color, 0.9 );
                    margin-right: 8px;
                }
            }
        }
    }
}