$cross-distance: 25px;

Crosshair
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  transition: all 0.1s linear;
  
  .element {
    background-color: rgba( $theme-color, 0.75 );
    transform: translateX(-50% ) translateY( -50% );
    position: absolute;
    box-shadow: 1px 1px 1px rgba( black, 0.75 );
  }

  .dot {
    width: 3px;
    height: 3px;
  }

  .left, .right {
    width: 10px;
    height: 2px;
  }

  .top, .bottom {
    width: 2px;
    height: 10px;
  }

  .left {
    left: -$cross-distance;
  }

  .right {
    left: $cross-distance;
  }

  .top {
    top: -$cross-distance;
  }

  .bottom {
    top: $cross-distance;
  }

  opacity: 0;
  &.visible {
    opacity: 1;
  }
}