ExperienceBar
{
    position: absolute;
    width: 100%;
    bottom: 6px;
    left: 0;
    z-index: -1;
    padding-left: 8px;
    padding-right: 2px;
    padding-bottom: 0;
    align-items: center;
    gap: 8px;
    mix-blend-mode: lighten;
    opacity: 0.5;

    .segments
    {
        flex-grow: 1;
        gap: 8px;

        .segment
        {
            height: 10px;
            width: 10%;
            background-color: rgba( #282828, 1 );

            .inner-bar
            {
                transition: all 0.5s ease-out;
                height: 100%;
                background-color: rgba( $theme-color, 0.2 );
            }
        }
    }

    .level
    {
        width: 64px;
        justify-content: center;
        text-align: center;
        padding: 0px 8px 0px 8px;
        font-family: $main-font-bold;
        color: rgba( white, 0.8 );
        font-size: 24px;
        display: none;
    }
}
