
//$theme-color: #fbf1c7;
//$theme-color: #CECECE;
$theme-color: #D7D9D7;
$friendly: #52afec;
$enemy: #F53F16;
$main-color: #4a5375;

$main-font: Oxanium-Regular;
$main-font-semibold: Oxanium;
$main-font-bold: Oxanium-Bold;

$alternate-font: Oxanium-Regular;
$alternate-font-bold: Oxanium-Bold;

@import "_damageindicator.scss";
@import "_hitindicator.scss";
@import "_inventory.scss";
@import "_pickupfeed.scss";
@import "_capturepoints.scss";
@import "_spawnoverview.scss";
@import "_crosshair.scss";
@import "_gamestatus.scss";
@import "_progression.scss";

HudRootPanel
{
    transition: background-color 0.2s ease-in;
    transform-origin: 50% 50%;

    &.devcamera
    {
        display: none;
    }
}

vitals {
    font-size: 64px;
    color: #ff0;
    font-family: Oswald-Light;

    label {
        &.danger {
            color: #f00;
            text-shadow: 0px 0px 10px #f005;
        }
    }
}

.bottom-middle {
    position: absolute;
    bottom: 96px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.top-middle {
    top: 32px;
    width: 100%;
    flex-direction: column;
    align-items: center;

    gamehud {
        font-family: Roboto;
        font-size: 20px;
        flex-direction: column;
        justify-content: center;

        .game-state {
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
        }

        .game-timer {
            font-size: 32px;
        }
    }
}

.bottom-left
{
    bottom: 40px;
    left: 64px;
    flex-direction: column;
}

.bottom-right {
    bottom: 64px;
    right: 64px;
    flex-direction: column-reverse;

    Ammo {
        height: 96px;
    }
}

.bottom-left, .bottom-right {
    position: absolute;
}

@keyframes spentbullet {
    0% {
        transform: scale( 1 );
    }

    100% {
        transform: scaleY( 0 );
    }
}

@keyframes lowammo {
    0% {
        transform: scale( 1 );
    }

    50% {
        transform: scale( 1.05 );
    }

    100% {
        transform: scale( 1 );
    }
}

.tactical {
}

Stance {
    min-width: 50px;

    > .icon {
        position: absolute;
        width: 50px;
        height: 50px;
        opacity: .5;
        background-image-tint: $theme-color;
    }
}

Ammo
{
    align-items: center;
    flex-direction: row-reverse;
    gap: 16px;

    > .background
    {
        position: absolute;
        width: 1024px;
        left: -128px;
        height: 128px;
        background-image: radial-gradient( rgba( black, 0.5 ), rgba( black, 0.3 ), rgba( black, 0 ), rgba( black, 0 ), rgba( black, 0 ) );
    }

    .weapon-viewer
    {
        opacity: 0.75;
    }

    WeaponViewer
    {
        width: 256px;
        height: 128px;
        filter: saturate(0);
        filter: invert(1);
    }

    opacity: 0;

    &.active
    {
        opacity: 1;
    }

    .info
    {
        font-weight: bolder;
        color: $theme-color;
        flex-direction: column;
        top: 3px;
        gap: 2px;
        width: 256px;

        .row
        {
            justify-content: flex-end;
            align-items: flex-end;
        }

        .inventory
        {
            font-family: $main-font;
            font-size: 18px;
            color: rgba(255, 255, 255, 0.70);
        }

        .currentammo
        {
            font-family: $main-font-bold;
            font-size: 38px;
            color: white;
            height: 41px;
            padding-right: 10px;
        }
    }

    .gunname
    {
        font-family: $main-font-bold;
        font-size: 20px;
        color: white;
        opacity: 1;
    }

    label
    {
        text-align: right;

        &.danger
        {
            color: #f00;
        }
    }

    &.low
    {
        box-shadow: none;

        .currentammo
        {
            color: red;
            animation-name: lowammo;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }

    InputHint
    {
        opacity: 0;
    }

    &.inactive
    {
        transform: scale(0.65);
        right: 45px;
        opacity: 0.6;


        InputHint
        {
            transform: scale(1.66);
            right: -64px;
            opacity: 1;
        }

        .info
        {
            display: none;
        }
    }
}

FireModes
{
    top: 90px;
    left: 90px;
    position: absolute;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    width: 250px;
    
    gap: 8px;

    > .firemode {
        margin-right: 4px;
        width: 35px;
        height: 35px;
        justify-content: center;
        align-items: center;
        align-content: center;

        img {
            width: 25px;
            height: 25px;
        }

        background-color: rgba(40, 38, 38, 0.5);

        &.active {

            width: 40px;
            height: 40px;
            background-color: rgba( $main-color, 0.5 );

            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}

healthhud, armourhud {
    padding: 6px;
    font-size: 32px;
    min-width: 100px;
    text-align: center;
    align-items: center;
    font-family: Quantico-Regular;
    min-width: 105px;
}

.ammobar {
    padding: 6px;
    font-size: 24px;
    font-weight: bolder;
    color: $theme-color;
    min-width: 200px;
    text-align: center;
    align-items: center;
    border-radius: 0px;
    font-family: Quantico-Regular;
    font-weight: 900;

}

iconpanel, i
{
    font-family: fa6-solid;
}

healthhud, armourhud {
    margin-bottom: 6px;

    hudbar {
        width: 150px;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0;
    }

    .outerbar {
        position: absolute;
        border-radius: 0;
        left: -3px;
        top: -7px;
        right: 0;
        width: 150px;
        height: 6px;

        .innerBar {
            border-radius: 0;
        }
    }

    > .icon {
        color: $theme-color;
    }

    .text {
        min-width: 100px;
        left: 50px;
    }

    .health {
        background-color: rgba(#3c3836 0.2);
        color: $theme-color;
        border-left: 2px solid rgba(#fbf1c7 0.5);

        .innerBar {
            background-color: $theme-color;
        }
    }

    &.regen {
        .text {
            color: #00eee0;
        }

        .innerBar {
            background-color: rgba(#00eee0 1);
        }
    }

    &.low {
        .text {
            color: #ff9f9f;
        }

        .innerBar {
            background-color: rgba(255 0 0 1);
        }
    }

    .armour {
        background-color: rgba(#3c3836 0.2);
        color: $theme-color;
        border-right: 2px solid rgba(#fbf1c7 0.5);

        .innerBar {
            background-color: rgba(#458588 1);
        }
    }
}

armourhud
{
    &.empty
    {
        opacity: 0;
    }
}

.game-end
{
    inventorybar, .bottom-right, .bottom-left
    {
        display: none;
    }
}

HudRootPanel {
    GunfightGamemodePanel, KillConfirmedHud, .main-game-hud { transition: opacity 0.2s ease; }

    &.disable-hud {
        GunfightGamemodePanel, KillConfirmedHud, .main-game-hud {
            opacity: 0;    
        }
    }

    &.almost-disable-hud {
        GunfightGamemodePanel, KillConfirmedHud, .main-game-hud {
            transition: opacity 0.2s ease;
            opacity: 0.2;    
        }
    }
}


NotificationManager
{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    .notification
    {
        gap: 3px;
    }

    inputhint
    {
        padding-left: 4px;
        padding-right: 4px;
    }

    > .dock
    {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        min-height: 64px;

        label
        {
            font-family: Oxanium;
            font-size: 24px;
            font-weight: 600;
            color: $theme-color;
            text-shadow: 0px 0px 5px rgba(black, 0.3);
        }

        &.bottom-middle
        {
            bottom: 80px;
            flex-direction: column-reverse;

            > .notification
            {
                transition: all 0.1s ease;

                &:intro
                {
                    opacity: 0;
                    transform: scale(0.5);
                }

                &:outro
                {
                    opacity: 0;
                    transform: scale(1.2);
                }
            }
        }

        &.middle
        {
            top: 40%;
            flex-direction: column-reverse;
        }

        &.top-middle
        {
            top: 160px;

            > .notification
            {
                label
                {
                    color: white;
                    font-size: 32px;
                    top: 2px;
                }

                transition: all 0.1s ease;
                background-image: linear-gradient(270deg, rgba(cyan, 0) 0%, rgba(cyan, 0.9) 49.48%, rgba(cyan, 0) 100%);
                padding: 50px;
                padding-top: 10px;
                padding-bottom: 10px;

                &:intro
                {
                    opacity: 0;
                    transform: scaleX(0.5);
                }
            }
        }
    }
}

ExperienceHintEntry 
{
    .xp, .text {
        font-family: $main-font-bold;
        font-weight: 600;
        color: rgba( $theme-color, 0.8 );
        font-size: 20px;
        text-shadow: 0px 0px 5px rgba( black, 0.5 );
    }

    .xp {
        font-weight: 800;
        font-size: 22px;
    }

    .text {
        top: 1px;
        margin-left: 16px;
    }

    opacity: 1;
    transition: all 0.2s ease;

    &:intro, &:outro {
        transform: translateX(100%);
        opacity: 0;
    }

    &.effect {
        transform: scale( 1.3 );

        .xp, .text {
            text-shadow: 0px 0px 10px rgba( $theme-color, 0.5 );
        }
    }
}