@import "/Styles/hud.scss";

SettingsPage
{
    .stats-title
    {
        font-size: 20px;
        font-family: $main-font-bold;
        height: 20px;
    }

    .stat
    {
        font-size: 16px;
        gap: 8px;
        height: 10px;

        label
        {
            font-family: $main-font-semibold;
        }
    }

    .list
    {
        gap: 8px;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }

    .scroll
    {
        flex-wrap: wrap;
    }

    .heading
    {
        font-family: $main-font-bold;
    }
}

.form-row
{
    font-family: $main-font;

    .heading
    {
        font-size: 18px;
    }

    .grow
    {
        flex-grow: 1;
    }

    align-items: center;

    .keyname
    {
        font-size: 14px;
        min-width: 256px;
    }
}

.group
{
    flex-direction: column;
    flex-grow: 1;
    gap: 4px;
}

keybind
{
    width: 200px;
    flex-shrink: 0;
    background-color: #ffffff05;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    color: #aaa;

    &.with-highlight
    {
        color: #eee;
    }

    &:hover
    {
        background-color: #ffffff11;
    }

    &.active
    {
        background-color: #fff;
        color: #aaa;
    }
}