@using Sandbox
@using Sandbox.UI
﻿﻿@using Sandbox.UI.GameMenu

@implements INavigatorPage
@inherits Panel
@attribute [StyleSheet]
@namespace Facepunch.Gunfight.MainMenu

<root>
	<div class="main">
		<div class="left column grow">
			<div class="game-title">
				Gunfight
			</div>

            <label class="stats-title">Settings</label>

            <div class="scroll list">
                @foreach ( var group in Game.Menu.InputSettings.Actions.GroupBy( x => x.GroupName ) )
                {
                    <div class="group">
                        <h2 class="heading">@group.Key</h2>
                        @foreach ( InputAction action in group )
                        {
                            <div class="form-row">
                                <label class="keyname" text="@action.Name" />
                                <div class="grow"/>
                                <KeyBind Game="@Game.Menu" Action=@action class="glass with-padding with-grow with-click" />
                            </div>
                        }
                    </div>
                }
            </div>

			<ActionButton onclick=@Return>
				<Title>
					Return
				</Title>
			</ActionButton>
		</div>
	</div>
</root>

@code
{
    void Return( PanelEvent e )
    {
        this.Navigate( Game.InGame ? "/ingame" : "/" );
    }
}
