@import "/Resource/Styles/hud.scss";

GunfightStatusPanel {
    position: absolute;
    margin-top: 64px;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    label {
        color: $theme-color;
        font-family: Quantico-Regular;
        font-size: 16px;
    }

    .gamestatus {
        justify-content: center;
        align-content: center;
        flex-direction: column;
        align-items: center;
        height: 40px;

        > label {
            font-size: 28px;
            font-family: $main-font-bold;
        }
    }

    .time {
        justify-content: center;
        align-content: center;
        flex-direction: column;
        align-items: center;
        height: 40px;

        > label {
            font-size: 32px;
            font-family: $main-font-bold;
        }
    }

    > .main {
        > .state {
            width: 200px;

            label {
                width: 100%;
                text-align: center;
                font-size: 24px;
                text-shadow: 1px 1px 10px rgba( black, 0.5 );
                font-family: $alternate-font;
                text-transform: uppercase;
            }
        }

        > .entry {
            width: 200px;
            height: 50px;
            flex-direction: column;

            > .header {
                width: 100%;
                top: -2px;

                > .icon {
                    font-family: Material Icons;
                    height: 24px;
                    font-size: 24px;
                }

                > .score {
                    left: 2px;
                    top: -4px;
                    font-family: $alternate-font;
                    height: 24px;
                    font-size: 20px;
                }

                > .people {
                    position: absolute;

                    > .person {
                        height: 24px;
                        font-family: Material Icons;
                        font-size: 24px;
                    }
                }
            }

            > .bar {
                width: 100%;
                height: 12px;
                background-color: rgba( $theme-color, 0.02 );
                box-shadow: 1px 1px 10px rgba( black, 0.5 );

                > .bar-inner {
                    width: 50%;
                    height: 100%;
                }
            }

            &.friendly {
                > .bar {
                    > .bar-inner {
                        background-image: linear-gradient( to right, $friendly, rgba( $friendly, 0.2 ) );
                    }
                }

                > .header {
                    > .people {
                        right: 0;

                        > .person {
                            color: $friendly;

                            &.dead {
                                color: darkgrey;
                            }
                        }
                    }
                }
            }

            &.enemy {
                > .header {
                    flex-direction: row-reverse;
                }

                > .bar {
                    > .bar-inner {
                        background-image: linear-gradient( to left, $enemy, rgba( $enemy, 0.2 ) );
                    }
                }

                > .header {
                    > .people {
                        left: 0;

                        > .person {
                            color: $enemy;

                            &.dead {
                                color: darkgrey;
                            }
                        }
                    }
                }
            }
        }
    }
}

