@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Gunfight.UI;

@inherits Panel;
@namespace Facepunch.Gunfight.War

<root>
    <div class="canvas">
        @foreach ( var spawnPoint in Entity.All.OfType<ISpawnPoint>().Where( x => x is not GunfightSpawnPoint ) )
        {
            <SpawnOption SpawnPoint=@spawnPoint @onclick=@( x => TrySelect( x ) ) />
        }
    </div>

    <div class="actions">
        <button class="" onclick=@ToggleLoadoutMenu><label class="text">CHANGE LOADOUT</label></button>
        <button class="primary" onclick=@Spawn><label class="text">@DeployText</label></button>
    </div>
</root>

@code
{
    public ISpawnPoint Selected;

    string DeployText
    {
        get
        {
            if ( Selected != null )
            {
                return $"DEPLOY AT {Selected.GetIdentity().ToUpperInvariant()}";
            }

            return $"RANDOM DEPLOY";
        }
    }

    public void TrySelect( PanelEvent e )
    {
        var option = e.This as SpawnOption;
        var spawnPoint = option.SpawnPoint;

        if ( !spawnPoint.IsValidSpawn( GunfightCamera.Target ) )
        {
            option.SetHint("You can't spawn here.");

            return;
        }

        Selected = spawnPoint;
    }

    public void Spawn()
    {
        WarGamemode.AskToRespawn( ( Selected as Entity )?.NetworkIdent ?? 0 );
    }

    public void ToggleLoadoutMenu()
    {
        LoadoutSelector.This.ToggleOpen();
    }
}
