@import "/Styles/hud.scss";

ClassModal
{
    flex-direction: column;

    .grow
    {
        flex-grow: 1;
    }

    .weapon-view
    {
        position: absolute;
        flex-grow: 1;
        width: 100%;
        height: 100%;
        z-index: -1;

        WeaponViewer
        {
            flex-grow: 1;
        }
    }

    ActionButton
    {
        pointer-events: all;
    }

    .weapons
    {
        justify-content: center;
        flex-direction: column;
        gap: 16px;
    }

    .attachment-slots
    {
        flex-shrink: 0;
        flex-grow: 0;
        gap: 8px;
        height: 96px;

        .category
        {
            height: 100%;
            aspect-ratio: 3.5;
            justify-content: center;
            align-items: center;
            font-size: 52px;
            font-family: $main-font-bold;
            cursor: pointer;
            flex-direction: column;
            background-color: rgba( $main-color, 0.2 );
            box-shadow: 0px 0px 10px rgba( black, 0.4 );
            text-transform: uppercase;
            color: rgba( $main-color, 1 );

            > .background
            {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -1;
                transition: all 0.1s ease;
                background-size: contain;
                mask-mode: luminance;
                background-color: rgba( 10, 10, 10, 1 );
                opacity: 0.5;
                mask-image: url( https://files.facepunch.com/tony/1b2611b1/dots_repeat.png );
                box-shadow: 4px 4px 25px rgba( black, 0.2 );
            }
        }

        .slot
        {
            height: 100%;
            aspect-ratio: 1.75;
            background-color: rgba( black, 0.2 );
            justify-content: center;
            align-items: center;
            font-size: 16px;
            pointer-events: all;
            cursor: pointer;
            text-shadow: 2px 2px 5px rgba( black, 0.4 );
            flex-direction: column;
            gap: 8px;
            box-shadow: 0px 0px 10px rgba( black, 0.4 );

            .group
            {
                font-family: $main-font-bold;
                color: white;
            }

            &:hover
            {
                background-color: rgba( black, 0.4 );
                color: white;
            }

            &.active
            {
                background-color: rgba( $main-color, 0.2 );
                color: white;
                font-family: $main-font-bold;
            }
        }
    }

    .options
    {
        flex-shrink: 0;
        flex-grow: 0;
        gap: 8px;
        flex-direction: row;
    }

    > .main
    {
        height: 100%;
        pointer-events: none;
        justify-content: center;
        padding-top: 0;
        flex-direction: column;
        gap: 16px;

        .main-title
        {
            text-transform: uppercase;
            font-family: $main-font-bold;
            font-size: 50px;
            text-shadow: 5px 5px 50px black;
            mix-blend-mode: lighten;
        }

        .bold
        {
            font-family: $main-font-bold;
        }

        .left, .right
        {
            gap: 8px;
            flex-direction: column;
        }

        .left
        {
            width: 50%;
        }
    }

    .span
    {
        gap: 4px;
        align-items: center;
        font-size: 18px;

        label
        {
            font-family: $main-font-bold;
        }

        i
        {
            font-size: 18px;
        }
    }

    PackageCard, GamemodeCard
    {
        pointer-events: all;
    }

    .row
    {
        flex-direction: row;
        gap: 16px;
        align-items: center;
    }

    .column
    {
        flex-direction: column;
    }

    .players
    {
        flex-direction: row;

        > .header
        {
            padding: 2px;
            padding-left: 8px;
            background-color: darken( $main-color, 0.6 );
            font-size: 14px;
            font-family: $main-font-bold;

            label
            {
                top: 0.5px;
            }
        }

        gap: 16px;

        .group
        {
            flex-grow: 1;
            flex-direction: column;
            background-color: rgba( $main-color, 0.3 );

            &.enemy
            {
                background-color: rgba( red, 0.05 );
            }
        }

        .row
        {
            background-color: rgba( $main-color, 0.05 );
            font-size: 16px;
            align-items: center;
            padding: 8px;
            gap: 12px;

            &:nth-child(even)
            {
                background-color: rgba( black, 0.1 );
            }

            .avatar
            {
                border-radius: 100px;
                width: 24px;
                height: 24px;
            }

            .grow
            {
                flex-grow: 1;
            }
        }
    }
}
