@using Sandbox
@using Sandbox.UI

@implements INavigatorPage
@inherits Panel
@attribute [StyleSheet]
@namespace Facepunch.Gunfight.MainMenu

<root>
    <div class="background" />

    <div class="title">
        @ClassName
    </div>
</root>

@code
{
    public CreateAClass.CustomClass CustomClass { get; set; }
    public string ClassName { get; set; }
}
