@using Sandbox
@using Sandbox.UI

@implements INavigatorPage
@inherits Panel
@attribute [StyleSheet]
@namespace Facepunch.Gunfight.MainMenu

<root class="@( IsSelected ? "selected" : "" )">
    <div class="background" />

    @if ( CustomClass != null )
    {
        <div class="primary">
            <WeaponViewer Weapon:bind=@CustomClass.PrimaryWeapon @ref=PrimaryWeaponViewer />
        </div>

        <div class="secondary">
            <WeaponViewer Weapon:bind=@CustomClass.SecondaryWeapon @ref=SecondaryWeaponViewer />
        </div>
    }

    <div class="title">
        <label>@ClassName</label>

        @if ( IsSelected )
        {
            <div style="flex-grow: 1;"/>
            <i>circle-check</i>
        }
    </div>
</root>

@code
{
    public CreateAClass.CustomClass CustomClass { get; set; }
    public string ClassName { get; set; }
    public bool IsSelected => CreateAClass.CustomClass.GetSelectedName() == ClassName;

    public Action<string, CreateAClass.CustomClass> OnSave;
    public Action<string> OnDelete;

    public WeaponViewer PrimaryWeaponViewer { get; set; }
    public WeaponViewer SecondaryWeaponViewer { get; set; }


    protected override void OnAfterTreeRender( bool firstTime )
    {
        if ( CustomClass != null )
        {
            PrimaryWeaponViewer.Update();
            SecondaryWeaponViewer.Update();
        }
    }

    protected override void OnClick( MousePanelEvent e )
    {
        if ( CustomClass == null ) return;

        UI.ModalSystem.Push( new ClassModal( ClassName, CustomClass ) 
        {
            OnSave = OnSave,
            OnDelete = OnDelete
        } );
    }
}
