@using Sandbox
@using Sandbox.UI

@implements INavigatorPage
@inherits Panel
@attribute [StyleSheet]
@namespace Facepunch.Gunfight.MainMenu

<root>
    <div class="background" />

    <div class="title">
        @ClassName
    </div>
</root>

@code
{
    public CreateAClass.CustomClass CustomClass { get; set; }
    public string ClassName { get; set; }

    public Action<string, CreateAClass.CustomClass> OnSave;
    public Action<string> OnDelete;

    protected override void OnClick( MousePanelEvent e )
    {
        if ( CustomClass == null ) return;

        UI.ModalSystem.Push( new ClassModal( ClassName, CustomClass ) 
        {
            OnSave = OnSave,
            OnDelete = OnDelete
        } );
    }
}
