@using Sandbox
@using Sandbox.UI

@implements INavigatorPage
@inherits Panel
@attribute [StyleSheet]
@namespace Facepunch.Gunfight.MainMenu

<root>
	<div class="main">
		<div class="left column grow">
			<div class="game-title">
				Gunfight
			</div>

            <label class="stats-title">Create A Class</label>

			<div style="flex-grow: 1;"/>

            <div class="scroll list">
                @foreach ( var kv in CreateAClass.CustomClass.All )
                {
                    <ClassCard OnDelete=@OnDelete OnSave=@OnSave ClassName=@kv.Key CustomClass=@kv.Value />
                }

                <ClassCard ClassName="Create new class..." onclick=@CreateClass />
            </div>

			<ActionButton onclick=@Return>
				<Title>
					Return
				</Title>
			</ActionButton>
		</div>
	</div>
</root>

@code
{
    void OnSave( string className, CreateAClass.CustomClass customClass )
    {
        CreateAClass.CustomClass.SaveOne( className, customClass );
    }

    void OnDelete( string className )
    {
        CreateAClass.CustomClass.Delete( className );
    }

    void Return( PanelEvent e )
    {
        this.Navigate( Game.InGame ? "/ingame" : "/" );
    }

    void CreateClass( PanelEvent e )
    {
        var name = $"Custom Class #{Gunfight.CreateAClass.CustomClass.All.Count() + 1}";
        var customClass = new CreateAClass.CustomClass( "mp5", "usp" );

        CreateAClass.CustomClass.SaveOne( name, customClass );
        
        UI.ModalSystem.Push( new ClassModal( name, customClass ) 
        {
            OnSave = OnSave,
            OnDelete = OnDelete
        } );
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( Gunfight.CreateAClass.CustomClass.All.Count() );
    }
}
