@import "/Styles/hud.scss";

CreateAClassPage
{
    .stats-title
    {
        font-size: 20px;
        font-family: $main-font-bold;
        height: 20px;
    }

    .stat
    {
        font-size: 16px;
        gap: 8px;
        height: 10px;

        label
        {
            font-family: $main-font-semibold;
        }
    }

    .list
    {
        left: -32px;
        gap: 8px;
        flex-direction: row;
        overflow-x: scroll;

        padding-left: 32px;
        padding-right: 32px;

        mask: linear-gradient( to right, black, white 2%, white 98%, black );
    }

    .scroll
    {
        overflow-x: scroll;
    }
}
