@import "/Styles/hud.scss";

CreateAClassPage
{
    .stats-title
    {
        font-size: 20px;
        font-family: $main-font-bold;
        height: 20px;
    }

    .stat
    {
        font-size: 16px;
        gap: 8px;
        height: 10px;

        label
        {
            font-family: $main-font-semibold;
        }
    }

    .list
    {
        flex-direction: column;
    }

    .scroll
    {
        overflow: scroll;
    }
}
