@import "/Styles/hud.scss";

WeaponCard
{
    width: 512px;
    height: 256px;
    padding: 12px 26px;
    align-items: center;
    pointer-events: all;
    cursor: pointer;

    .weapon-viewer
    {
        position: absolute;
        width: 100%;
        height: 100%;

        WeaponViewer
        {
            flex-grow: 1;
        }
    }

    .title
    {
        position: absolute;
        left: 8px;
        bottom: 0px;
        font-family: $main-font-bold;
        font-size: 20px;
        text-transform: uppercase;
    }

    > .background
    {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: background-color 0.1s ease;
        background-size: contain;
        mask-mode: luminance;
        background-color: rgba( 10, 10, 10, 1 );
        opacity: 0.5;
        mask-image: url( https://files.facepunch.com/tony/1b2611b1/dots_repeat.png );
    }

    &:hover
    {
        opacity: 0.7;
        border-left: 4px solid $theme-color;

        .title
        {
            color: white;
        }
    }
}
