@using Sandbox
@using Sandbox.UI

@implements INavigatorPage
@inherits Panel
@attribute [StyleSheet]
@namespace Facepunch.Gunfight.MainMenu

<root>
    <div class="background" />

    <div class="weapon-viewer">
        <WeaponViewer Weapon:bind=@Weapon @ref=WeaponViewer />
    </div>

    <div class="title">
        @Definition?.WeaponName
    </div>
</root>

@code
{
    public CreateAClass.Weapon Weapon { get; set; }
    public WeaponDefinition Definition => WeaponDefinition.Find( Weapon?.Name );
    public WeaponViewer WeaponViewer { get; set; }

    protected override void OnClick( MousePanelEvent e )
    {
        // UI.ModalSystem.Push( new ClassModal( ClassName, CustomClass, () => Log.Info("yep" ) ) );
    }

    protected override void OnAfterTreeRender( bool firstTime )
    {
        if ( firstTime )
        {
            WeaponViewer.NoRotation = true;
            WeaponViewer.Update();
        }
    }
}
