@using Sandbox.UI;
@using Sandbox;

@inherits Panel
@namespace Facepunch.Gunfight.UI

<root>
        @if ( !Weapon.IsValid() ) return;

        @if (Weapon.WeaponDefinition == null) return; 

        @if ( Player.IsValid() && Player.LifeState != LifeState.Alive )
            return;

        <InputHint Button="FireMode" />

       <div class="firemode active">
           <img src=@GetImage( Weapon.CurrentFireMode ) />
       </div>

        @foreach( var firemode in Weapon.WeaponDefinition.SupportedFireModes )
        {
            if ( Weapon.CurrentFireMode == firemode ) continue;
        
           <div class="firemode">
               <img src=@GetImage( firemode ) />
           </div>
        }
</root>

@code
{
    string GetImage( FireMode firemode )
    {
        return firemode switch
        {
            FireMode.Semi => "/ui/firemode/semi.png",
            FireMode.FullAuto => "/ui/firemode/auto.png",
            FireMode.Burst => "/ui/firemode/burst.png",
            _ => "/ui/firemode/auto.png"
        };
    }

    public GunfightPlayer Player => GunfightCamera.Target;
    public GunfightWeapon Weapon => Player.CurrentWeapon;

    protected override int BuildHash()
    {
        if ( !Player.IsValid() ) return -1;

        return HashCode.Combine( Player, Player.LifeState, Weapon?.CurrentFireMode );
    }
}
