@import "/Resource/Styles/hud.scss";

FireModePanel {
    top: 90px;
    left: 50px;
    position: absolute;
    align-items: center;
    align-content: center;

    opacity: 0;
    &.active {
        opacity: 1;
    }

    > .active {
        margin-right: 4px;
        width: 35px;
        height: 35px;
        justify-content: center;
        align-items: center;
        align-content: center;
        
        background-color: rgba(255, 207, 38, 0.5);
        border: 2px solid #FFCF26;
        
        image {
            width: 25px;
            height: 25px;
        }
    }

    > InputHint {
        margin-right: 8px;
    }

    > .inactive {
        margin-right: 4px;
        width: 35px;
        height: 35px;
        justify-content: center;
        align-items: center;
        align-content: center;

        background-color: rgba(40, 38, 38, 0.5);
        border: 2px solid rgba(0, 0, 0, 0.3);

        image {
            width: 25px;
            height: 25px;
            opacity: 0.1;
        }
    }
}
