@import "/Resource/Styles/hud.scss";

FireModePanel {
    top: 70px;
    position: absolute;
    align-items: center;
    align-content: center;

    > .active {
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        align-content: center;

        image {
            width: 35px;
            height: 35px;
        }
    }

    > InputHint {
        margin-right: 8px;
    }

    > .inactive {
        justify-content: center;
        align-items: center;
        align-content: center;

        image {
            width: 30px;
            height: 30px;
            opacity: 0.1;
        }
    }
}
