@using Sandbox.UI;

@namespace Facepunch.Gunfight.UI
@inherits Panel;

<root class="@EffectClasses()">
    <label class="xp">+@XP</label>
    <label class="text">@Text</label>
</root>


@code
{
    public int XP;
    public string Text;
    public Task DecayTask;

    public TimeSince Effected = 1;

    public void Effect()
    {
        Effected = 0;
    }

    protected string EffectClasses()
    {
        return Effected < 0.1f ? "effect" : "";
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( Time.Now );
    }
}
