@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Gunfight.UI;

@inherits Panel;
@namespace Facepunch.Gunfight.War

<root>
    <div class="entries">
		@foreach( var capturePoint in CapturePointList )
        {
            <div class="point @PointClasses( capturePoint )">
                <div class="icon"></div>
                <label class="identity">@capturePoint.Identity</label>
            </div>
        }
    </div>
</root>

@code
{
    public IEnumerable<CapturePointEntity> CapturePointList => Entity.All.OfType<CapturePointEntity>().OrderBy( x => x.Identity );

    protected override int BuildHash()
    {
        return HashCode.Combine(CapturePointList);
    }

    protected string PointClasses( CapturePointEntity capturePoint )
    {
        return capturePoint.UIClasses;
    }
}
