@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Gunfight.UI;

@inherits Panel;
@namespace Facepunch.Gunfight.War

<style>
    WarHud {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }
</style>

<root>
    <div class="top-middle">
        <GameStatus />
    </div>

    <GameScore />
</root>

@code
{
}
