@namespace Gunfight.UI
@inherits Panel
@attribute [StyleSheet]

<root class="hud with-deadzone">
    <div class="background" />

    @if ( Weapon.IsValid() )
    {
        <div class="weapon-viewer">
            <WeaponViewer WeaponResource=@Weapon.Resource />
        </div>

        <div class="info">
            @if ( AmmoContainer.IsValid() )
            {
                <div class="row">
                    <label class="currentammo">@AmmoContainer.Ammo</label>
                    <label class="inventory">@AmmoContainer.MaxAmmo</label>
                </div>
            }

            <div class="row">
                <label class="gunname">@Weapon.Resource.Name</label>
            </div>
        </div>

        <InputHint Action="SwitchWeapon" />
    }
</root>

@code
{
    /// <summary>
    /// The player.
    /// </summary>
    public PlayerController Player { get; set; }

    /// <summary>
    /// The player's weapon.
    /// </summary>
    public Weapon Weapon => Player.Weapon;

    private AmmoContainer AmmoContainer => Weapon.Components.Get<AmmoContainer>( FindMode.EnabledInSelfAndDescendants );

    protected override int BuildHash()
    {
        return HashCode.Combine( Weapon, AmmoContainer?.Ammo );
    }
}
