@namespace Gunfight.UI
@inherits Panel
@attribute [StyleSheet]

<root class="hud with-deadzone">
    <div class="background" />

    @if ( Weapon.IsValid() )
    {
        <div class="weapon-viewer">
            <WeaponViewer WeaponResource=@Weapon.Resource />
        </div>

        <div class="info">
            <div class="row">
                <label class="currentammo">30</label>
                <label class="inventory">90</label>
            </div>

            <div class="row">
                <label class="gunname">@Weapon.Resource.Name</label>
            </div>
        </div>

        <InputHint Action="SwitchWeapon" />
    }
</root>

@code
{
    /// <summary>
    /// The player.
    /// </summary>
    public PlayerController Player { get; set; }

    /// <summary>
    /// The player's weapon.
    /// </summary>
    public Weapon Weapon => Player.Weapon;
}
